<syn-performance-range-filter></syn-performance-range-filter>
<div class="card-container machine-performance">
  <div *ngIf="loaded; else loadingCard" class="card total-producing-time">
    <syn-gauge class="gauge" [value]="workingTimePercentage$ | async" threshold="0"></syn-gauge>
    <div class="time">
      <h1 class="number">{{ workingTime$ | async }}</h1>
      <span>h</span>
    </div>
    <div class="subtitle">{{ 'ASSET.LABEL.TIME_OF_PRODUCING' | translate }}</div>
  </div>

  <div *ngIf="loaded; else loadingCard" class="card">
    <div class="state-label">{{ 'ASSET.LABEL.MACHINE_STATES' | translate }}</div>
    <canvas
      (clickOutside)="highlightState(undefined)"
      baseChart
      chartType="pie"
      legend="true"
      [datasets]="pieChartData"
      [options]="pieChartOptions"
    >
    </canvas>
  </div>
</div>
<ng-container *ngIf="machineTimeline$ | async as timeline">
  <ng-container *ngIf="timeline.length > 0">
    <div *ngIf="loaded; else loadingCard" class="card time-line">
      <span class="text">{{ 'ASSET.LABEL.TIMELINE' | translate }}</span>
      <syn-state-timeline [data]="timeline"></syn-state-timeline>
    </div>
  </ng-container>
</ng-container>

<ng-template #loadingCard>
  <div class="card production-info-card card-placeholder table-loading time-line">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
