@import 'mixins';

.machine-performance {
  min-height: 320px;
  .gauge {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .chart {
    display: flex;
    flex: 1;
    width: 40%;
    margin: auto;
    flex-direction: column;
    background: white;
    padding: 46px;

    .state-label {
      font-size: 22px;
      color: $secondary-light;
      font-weight: 500;
    }
  }

  .chart,
  .total-producing-time {
    border-radius: 18px;
  }

  .total-producing-time {
    padding: 28px;
    background: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    .time {
      color: $primary;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;

      .number {
        margin: 3px;
        font-size: 62px;
        display: inline;
      }
    }

    .subtitle {
      color: $text-dark;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.text {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 16px;
  font-weight: 500;
}

.time-line {
  margin-top: 15px;
}

.card-placeholder {
  @include card-placeholder();
}
