@import 'mixins';

.row {
  @include modal-view-row();
  font-size: 12px;
}

.header {
  font-weight: bold;
  margin-bottom: 10px;
}

.divider {
  margin: 10px 0;
  border-top: 1px solid $secondary-light;
}
