<div class="modal-body">
  <syn-modal-container
    [title]="'MAPPING.FORM.UPLOAD_MAPPING_MODAL_TITLE' | translate: data"
    (cancel)="onClose()"
  >
    <div body>
      <syn-mapping-form
        [device]="data.device"
        formId="mapping-form"
        (valid)="submitBtn.disabled = !$event"
        (created)="onClose()"
      ></syn-mapping-form>
    </div>
    <ng-container actions>
      <button
        #submitBtn
        class="single-action"
        synButton
        mode="weak"
        color="primary"
        type="submit"
        form="mapping-form"
      >
        {{ 'COMMON.ACTION.UPLOAD' | translate }}
      </button>
    </ng-container>
  </syn-modal-container>
</div>
