@import 'mixins';

.asset-view {
  @include modal-view();
  width: 470px;

  display: flex;
  flex-direction: column;

  height: var(--modal);

  .avatar-wrapper {
    background: $text-light;
    margin: 20px 0 30px 0;
  }

  .avatar-container {
    flex-direction: column;
    min-height: 200px;
    width: 470px;
    border-radius: 25px;
    cursor: auto;
  }
}
.edit-button {
  @include edit-button-margin-auto();
}
