<syn-modal-container
  [title]="data.asset.name"
  (cancel)="dialogRef.close()"
  maxWidth="300px"
  #container
>
  <button
    header-action
    *synAcl="{ aclResources: ['Asset'], aclRight: 'Update' }"
    mat-icon-button
    tabindex="-1"
    class="edit-button"
    (click)="onEditAsset()"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <div class="asset-view" body>
    <syn-asset-image class="avatar-container avatar-wrapper" [asset]="data.asset"></syn-asset-image>

    <ng-container [ngSwitch]="data.asset.type">
      <syn-factory-view-fields
        *ngSwitchCase="assetType.FACTORY"
        [asset]="data.asset"
      ></syn-factory-view-fields>
      <syn-line-view-fields
        *ngSwitchCase="assetType.LINE"
        [asset]="data.asset"
      ></syn-line-view-fields>
      <syn-machine-view-fields
        *ngSwitchCase="assetType.MACHINE"
        [asset]="data.asset"
      ></syn-machine-view-fields>
    </ng-container>
  </div>
</syn-modal-container>
