@import 'mixins';
.content {
  display: flex;
  height: 100%;
  .avatar {
    flex: 4;

    .avatar-actions {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 16px;
    }

    .avatar-wrapper {
      background: $text-light;
    }

    .avatar-container {
      align-items: flex-start;
      display: flex;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      margin: auto;
    }

    #avatar-uploader {
      display: none;
    }
  }
  .form {
    flex: 6;
    margin-top: 36px;
  }
}

.button {
  @include button();

  &.secondary {
    color: $secondary;
    background: rgba($secondary, 0.1);
  }
}
