<syn-modal-container
  [title]="
    isCreate
      ? ('USER.CREATE_MODAL_TITLE' | translate)
      : ('USER.UPDATE_MODAL_TITLE' | translate: data.user)
  "
  (cancel)="onClose()"
  (keydown.escape)="onEscape($event)"
  [isFullscreen]="true"
>
  <div class="content" body>
    <div class="avatar">
      <div class="avatar-actions">
        <input type="file" id="avatar-uploader" (change)="onFileChange($event.target.files)" />
        <label for="avatar-uploader" synButton mode="weak" color="secondary">
          {{ (hasImage ? 'COMMON.ACTION.CHANGE_IMAGE' : 'COMMON.ACTION.ADD_IMAGE') | translate }}
        </label>
      </div>

      <div #avatarImg class="avatar-container avatar-wrapper"></div>
    </div>
    <syn-user-form
      class="form"
      [user]="data.user"
      (created)="onUserCreated($event)"
      (valid)="valid$.next($event)"
      (changed)="changed = $event"
      formId="user-form"
    ></syn-user-form>
  </div>
  <ng-container actions>
    <ng-template [ngIf]="isCreate" [ngIfElse]="edit">
      <button
        *synAcl="{ aclResources: ['User'], aclRight: 'Create' }"
        aclRight="Create"
        synButton
        mode="weak"
        color="primary"
        type="submit"
        class="single-action"
        [disabled]="disabled$ | async"
        form="user-form"
      >
        {{ 'COMMON.ACTION.CREATE' | translate }}
      </button>
    </ng-template>

    <ng-template #edit>
      <ng-template [ngIf]="!isCreate">
        <button
          synButton
          mode="weak"
          color="danger"
          *synAcl="{ aclResources: ['User'], aclRight: 'Delete', prohibitMe: data.user }"
          (click)="onDelete()"
        >
          {{ 'COMMON.ACTION.DELETE' | translate }}
        </button>
      </ng-template>
      <button
        *synAcl="{ aclResources: ['User'], aclRight: 'Update', allowMe: data.user }"
        class="single-action"
        synButton
        mode="weak"
        color="primary"
        [disabled]="disabled$ | async"
        type="submit"
        form="user-form"
      >
        {{ 'COMMON.ACTION.SAVE' | translate }}
      </button>
    </ng-template>
  </ng-container>
</syn-modal-container>
