<div class="about">
  <div class="header">
    <button tabindex="-1" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <img src="../../../assets/logo.png" class="logo" />
  </div>
  <h2>{{ 'MISC.LABEL.IMPRINT' | translate }}</h2>
  <div class="imprint-text">
    <h3>{{ 'MISC.LABEL.NAME_AND_ADDRESS' | translate }}</h3>
    <p>
      Digital Solutions<br />
      Syntegon Packaging Systems AG<br />
      Formerly Bosch Packaging Systems AG<br />
      Industriestrasse 8<br />
      CH-8222 Beringen<br />
      SWITZERLAND<br />
    </p>
    <h3>{{ 'MISC.LABEL.BOARD_OF_MANAGEMENT' | translate }}</h3>
    <p>
      Dr. Michael Grosse, Dr. Walter Bickel, Clemens Berger, Uwe Harbauer
    </p>
    <h3>{{ 'MISC.LABEL.PHONE_NUMBER' | translate }}</h3>
    <p>
      +41 58 674 6714
    </p>
    <h3>{{ 'MISC.LABEL.EMAIL' | translate }}</h3>
    <p>
      shopfloor-solutions@syntegon.com
    </p>
    <h3>{{ 'MISC.LABEL.REGISTRATIONS' | translate }}</h3>
    <p>
      Court of Record: Cantonal court of Schaffhausen, EHRA-ID 414898
    </p>
  </div>
</div>
