@import 'mixins';

.qr-view {
  @include modal-view();

  .header {
    flex: 1;
    padding-top: 0;

    .title {
      margin: 0 22px;
    }
  }

  .qr-code-wrapper {
    margin: 70px auto 10px auto;
    text-align: center;
    font-size: 14px;

    .qr-code {
      width: 60%;
      height: 60%;
      margin-bottom: 24px;
    }
  }
}

.download-btn {
  margin: 34px auto;
  text-decoration: none;
}

@media print {
  .qr-view {
    width: 100%;
    .header {
      display: none;
    }
    .download-btn {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .qr-code-wrapper {
      width: inherit;
      height: inherit;
      //might be too big?
      //.qr-code {
      //width: 100%;
      //}
    }
  }
}
