<div class="qr-view">
  <div class="header">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="title">{{ 'COMMON.ACTION.VIEW_QR_CODE' | translate }}</div>
  </div>

  <div class="qr-code-wrapper">
    <img *ngIf="data.code" [src]="data.code" class="qr-code" />
    <div>
      {{ data.title | truncateText: 55 }}
    </div>
  </div>

  <button synButton class="download-btn" color="primary" mode="strong" (click)="onOpenFile()">
    {{ 'COMMON.ACTION.DOWNLOAD' | translate }}
  </button>
  <button synButton class="download-btn" color="primary" mode="strong" (click)="onOpenPng()">
    {{ 'COMMON.ACTION.DOWNLOAD_PLAIN' | translate }}
  </button>
</div>
