<div class="confirmation-dialog">
  <h1 mat-dialog-title>
    <button tabindex="-1" synButton mode="basic" mat-icon-button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
    {{ data.title ? (data.title | translate: param) : '' }}
  </h1>
  <div mat-dialog-content class="body">
    <p>{{ data.message | translate: param }}</p>
  </div>

  <div mat-dialog-actions class="actions">
    <button synButton mode="basic" [ngClass]="buttonClasses.cancel" [mat-dialog-close]="false">
      {{ 'COMMON.ACTION.CANCEL' | translate }}
    </button>
    <button
      synButton
      mode="strong"
      color="secondary"
      [ngClass]="buttonClasses.confirm"
      [mat-dialog-close]="true"
    >
      {{ data.actionName | translate: param }}
    </button>
  </div>
</div>
