@import 'mixins';

.button {
  @include button();
}

.confirmation-dialog {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .body {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
