@import 'mixins';

.reset {
  @include reset();
  color: $secondary;
}

.dropdown-wrapper {
  padding: 5px 5px 0;
  width: 200px;

  &.open-dropdown-wrapper {
    padding: 0 5px;
    .dropdown.open-dropdown {
      border-radius: 18px !important;
    }
  }
}

.dropdown {
  @include select-input();
  @include select-filter-input();
  max-width: 200px;
  font-weight: 300;
  position: relative;

  &.open-dropdown {
    border-radius: 18px;
  }
  .hide-more {
    color: $secondary;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.dropdown-menu {
  @include select-input-menu();
  @include select-filter-input();
  @include filter-select-input-menu();
  border-radius: 20px;
  max-height: 50vh;
  .mat-icon {
    margin-right: 0;
  }

  .dropdown-list {
    max-height: 350px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 2px 6px -3px grey;
    border-radius: 0 0 20px 20px;
  }

  .dropdown-item {
    background: none;
    .check {
      pointer-events: none;
      margin-right: 8px;
    }
  }
  .reset {
    @include reset();
  }
}

.dropdown-connect {
  margin: 0 -5px;
}

.dropdown-item-span {
  @include column-text();
  min-width: auto;
  color: $text-dark;
}

.dropdown-filter-margin {
  margin: 5px 5px 0;
}
