<div
  #dropdownContainer
  class="dropdown-wrapper"
  [class.open-dropdown-wrapper]="isOpen"
  (clickOutside)="hideMenu()"
>
  <div
    class="dropdown"
    [ngClass]="{
      'open-dropdown': isOpen,
      selected: selection.selected.length
    }"
  >
    <ng-container *ngTemplateOutlet="trigger"></ng-container>
  </div>

  <div class="dropdown-connect"></div>

  <ng-template #dropdownTemplate>
    <div class="dropdown-menu">
      <div
        class="dropdown"
        [ngClass]="{
          'open-dropdown': isOpen,
          'dropdown-filter-margin': isOpen,
          selected: selection.selected.length
        }"
      >
        <ng-container *ngTemplateOutlet="trigger"></ng-container>
      </div>
      <div class="dropdown-list">
        <div
          *ngFor="let item of options"
          class="dropdown-item"
          [class.selected]="selection.isSelected(item)"
          (click)="onSelect($event, item)"
        >
          <mat-checkbox
            class="check"
            color="secondary"
            [checked]="selection.isSelected(item)"
            *ngIf="multiple"
            [disableRipple]="true"
          ></mat-checkbox>
          <span class="dropdown-item-span">
            {{ item.label | translate }}
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #trigger>
  <div
    (click)="onOpenDropdown($event)"
    [ngClass]="{ 'open-dropdown': isOpen, selected: selection.selected.length }"
    class="dropdown-control"
  >
    <div class="reset" (click)="reset($event)" *ngIf="selection.selected.length">
      <mat-icon class="mat-icon">cancel</mat-icon>
    </div>
    <span class="placeholder">
      {{ label | translate }}
    </span>
    <span *ngIf="multiple && selection.selected.length > 1" class="hide-more">
      +{{ selection.selected.length - 1 }}
    </span>
    <button mat-icon-button [disableRipple]="true" class="toggle-icon-button">
      <mat-icon class="mat-icon toggle-icon">
        {{ isOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </mat-icon>
    </button>
  </div>
</ng-template>
