<ng-template #navbarActionsView>
  <div class="page-actions">
    <button
      *synAcl="{ aclResources: ['Document'], aclRight: 'Create' }"
      synButton
      color="secondary"
      mode="strong"
      (click)="onCreateDoc()"
    >
      {{ 'DOCUMENT.ACTION.NEW' | translate }}
    </button>
  </div>
</ng-template>

<syn-document-list mode="all"></syn-document-list>
