<div class="doc-form">
  <div *ngIf="uploading$ | async; else formEl" class="upload-progress">
    <syn-upload-progress></syn-upload-progress>
  </div>

  <ng-template #formEl>
    <form class="form-body" [id]="formId" [formGroup]="form" (ngSubmit)="onSubmit()">
      <syn-form-control
        [title]="('COMMON.LABEL.TITLE' | translate) + '*'"
        name="title"
        [control]="getControl('title')"
      >
        <input class="text-field" [class.danger]="hasError('title')" formControlName="title" />
      </syn-form-control>

      <syn-form-control
        [title]="('DOCUMENT.INFO.FILE' | translate) + '*'"
        name="file"
        [control]="getControl('file')"
      >
        <div class="file-input">
          <label
            class="text-field"
            for="file-uploader"
            [ngClass]="{ active: uploadedFile, danger: hasError('file') }"
            (click)="getControl('file').markAllAsTouched()"
          >
            {{ fileName | translate }}
          </label>
          <input synFileUpload id="file-uploader" type="file" formControlName="file" />
          <div class="reset" (click)="getControl('file').reset()" *ngIf="uploadedFile">
            <mat-icon class="mat-icon">cancel</mat-icon>
          </div>
        </div>
      </syn-form-control>

      <mat-expansion-panel
        class="modal-expansion-options mat-elevation-z0"
        [@.disabled]="disableAnimation"
        [expanded]="expanded"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="more-options-title">
              {{ 'COMMON.LABEL.MORE_OPTIONS' | translate }}
              <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="modal-options">
          <div class="label">
            {{ 'SHARED.RELATION.MACHINE_TYPE_TAGS' | translate }}
            <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
          </div>
          <div>
            <span class="links-count" *ngIf="machineTypeTags && machineTypeTags.length">
              {{ machineTypeTags.length }}
            </span>
            <button mat-icon-button type="button" (click)="onOpenTagModal()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>

        <div class="modal-options">
          <div class="label">
            {{ 'SHARED.RELATION.LINKED_ASSETS' | translate }}
            <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
          </div>
          <div>
            <span class="links-count" *ngIf="assetIds && assetIds.length">{{
              assetIds.length
            }}</span>
            <button mat-icon-button type="button" (click)="onOpenAssetLinkModal()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </form>
  </ng-template>
</div>
