@import 'variables';

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

  > .sections {
    width: 98%;
    height: 70px;
    display: flex;
    flex-direction: row;
    border: 1px solid $secondary-dark;

    > .element {
      height: 70px;
    }
  }

  > .time {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }

  .with-padding {
    padding-top: 20px;
  }

  .bottom-line {
    border-bottom: 1px solid $bottom-line;
  }

  .top-line {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-right: 1px solid $bottom-line;
      height: 10px;
      width: 100%;
    }
  }
}
