<div class="line-container">
  <div class="sections">
    <ng-container *ngFor="let item of data">
      <div
        *ngIf="!item.disableTooltip; else noTooltip"
        class="element"
        [ngStyle]="getStyle(item)"
        (mouseenter)="mouseEnter(item)"
        matTooltipPosition="above"
        [matTooltip]="tooltipText"
      ></div>
      <ng-template #noTooltip>
        <div class="element" [ngStyle]="getStyle(item)"></div>
      </ng-template>
    </ng-container>
  </div>
  <div class="time with-padding" [class.bottom-line]="showDateAxis">
    <span *ngFor="let t of timeArray">{{ t }}</span>
  </div>
  <ng-container *ngIf="showDateAxis">
    <div class="time">
      <div *ngFor="let t of timeArray" class="top-line"></div>
    </div>
    <div class="time with-padding">
      <span *ngFor="let d of dateArray">{{ d }}</span>
    </div>
  </ng-container>
</div>
