<div id="app-root">
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate" class="bar"></mat-progress-bar>
  <mat-sidenav-container>
    <mat-sidenav *ngIf="isSidebarOpen$ | async" mode="side" opened fixedInViewport>
      <syn-sidebar></syn-sidebar
    ></mat-sidenav>
    <mat-sidenav-content>
      <div id="app-content">
        <router-outlet></router-outlet>
      </div>
      <syn-footer></syn-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
