@import 'variables';

.asset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;

  .asset-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40vw;
    @media (max-width: 1200px) {
      max-width: 300px;
    }
    @media (max-width: 1023px) {
      max-width: 150px;
    }
  }

  &.page {
    background: white;
  }

  &.modal {
    background: $input-background;
    &:hover {
      background: #f7f7f7 !important;
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;

    &.btn-con {
      flex: 1;
      justify-content: space-between;
    }

    &.btn-con-drop {
      justify-content: flex-end;
    }

    syn-dropdown {
      display: flex;
    }
  }
}

.mat-menu-panel {
  box-shadow: none;
  cursor: pointer;
  min-width: 5em;
}

.mat-menu-content {
  min-width: 12.5em;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border-top: 2.5px solid white;
  background-color: $background-dark;
  color: $text-dark;
  border-radius: 0 0 20px 20px;
  box-shadow: none;

  p {
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
  }
}

.asset-tree-select {
  width: 210px;
  @media (min-width: 959px) {
    width: 250px;
  }
}
