<div *ngIf="asset" class="asset-container clickable" (click)="emitView()" [ngClass]="paneClass">
  <div class="container">
    <syn-avatar
      [imageData]="image$ | async"
      [placeholder]="placeholder"
      [alt]="asset.type"
    ></syn-avatar>
    <span class="asset-name">{{ asset.name }}</span>
  </div>
  <div
    *ngIf="!hideParentChange"
    class="container"
    [ngClass]="{
      'btn-con': (showDropDown$ | async) === false,
      'btn-con-drop': showDropDown$ | async
    }"
  >
    <ng-container *ngIf="showDropDown$ | async">
      <syn-asset-select
        class="asset-tree-select"
        *synAcl="{ aclResources: ['Asset'], aclRight: 'Update' }"
        [disableShadow]="true"
        [assets]="items$ | async"
        [placeholder]="'ASSET.ACTION.CHANGE_PARENT_ASSET_TO' | translate"
        [label]="'ASSET.ACTION.CHANGE_PARENT_ASSET_TO' | translate"
        [selected]="parent$ | async"
        (selectedChange)="setParent($event)"
      ></syn-asset-select>
    </ng-container>
  </div>

  <syn-table-actions
    [label]="'COMMON.LABEL.OPTIONS' | translate"
    [menuActions]="getActions(asset)"
    (actionSelected)="emitAction($event)"
  ></syn-table-actions>
</div>
