@import 'mixins';

:host(syn-asset-image) {
  background-size: cover;
  height: 170px;
  border-radius: 30px;
  padding: 0;
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  @include avatar-background();
}
