<div>
  <div class="header">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <h3 class="title">{{ 'COMMON.ACTION.SCAN_QR_CODE' | translate }}</h3>
  </div>
  <div class="body">
    <zxing-scanner
      *ngIf="isCameraFound; else noCameraMessage"
      (camerasNotFound)="displayNoCameraMessage()"
      (scanSuccess)="redirect($event)"
    ></zxing-scanner>
    <ng-template #noCameraMessage>
      <h3>{{ 'COMMON.LABEL.NO_CAMERA_AVAILABLE' | translate }}</h3>
    </ng-template>
  </div>
</div>
