@import 'variables';

.status-container {
  display: flex;

  align-items: center;
  min-width: 250px;

  .nav-back .mat-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    color: $input-text;
    font-size: 36px;
    height: 38px;
    width: 38px;
  }
}

.status-container.skeleton {
  background: $skeleton-bg;
  animation: shine-skeleton-image 1s infinite linear;
  background-size: 400px;
  height: 44px;
  border-radius: 4px;
}

.select {
  color: $text-dark;
  font-weight: bold;
  font-size: 24px;
}

.option {
  font-size: 20px !important;
}

:host::ng-deep {
  .mat-select-value {
    overflow: visible !important;
    text-overflow: initial !important;
    width: auto !important;
    max-width: 354px !important;
  }
}
