<div class="page-container asset-page-container">
  <syn-breadcrumbs></syn-breadcrumbs>
  <syn-navigation-bar>
    <div *ngIf="loading$ | async; else container" class="status-container skeleton"></div>
    <ng-template #container>
      <div class="status-container" *ngIf="assets$ | async as assets">
        <button *ngIf="showBackButton" mat-icon-button class="nav-back" (click)="onNavigateBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <mat-select
          *ngIf="assets.length"
          class="select"
          (selectionChange)="changeAsset($event.value)"
          [value]="asset$ | async"
          [compareWith]="compareWith"
        >
          <mat-option *ngFor="let a of assets" [value]="a" class="option">
            {{ a.name | truncateText: 25 }}
          </mat-option>
        </mat-select>
      </div>
    </ng-template>
  </syn-navigation-bar>
  <router-outlet></router-outlet>
</div>

<syn-qr-fab></syn-qr-fab>
