@import 'mixins';

.page-actions {
  @include page-actions();
  margin-bottom: 20px;

  .search {
    @include search-wrapper();

    .reset {
      @include search-reset-button();
    }

    .text-field {
      @include text-field();
    }
  }
}
