<ng-template #navbarActionsView>
  <div class="page-actions">
    <div class="search" [class.selected]="!!searchInput.value.length">
      <div class="reset" (click)="onSearch('')" *ngIf="!!searchInput.value.length">
        <mat-icon class="mat-icon">cancel</mat-icon>
      </div>
      <input
        #searchInput
        class="text-field"
        [placeholder]="'COMMON.LABEL.SEARCH' | translate"
        synSearch
        searchDelay="250"
        (search)="onSearch($event)"
        [ngModel]="userTable.selectedFilters.name"
      />
      <mat-icon>search</mat-icon>
    </div>
    <button
      *synAcl="{ aclResources: ['User'], aclRight: 'Create' }"
      synButton
      color="secondary"
      mode="strong"
      (click)="onNewUser()"
    >
      {{ 'USER.ACTION.NEW' | translate }}
    </button>
  </div>
</ng-template>
<syn-user-list></syn-user-list>
