<div class="user-view">
  <div class="header">
    <button tabindex="-1" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <div class="title">{{ data.user.name }}</div>

    <button
      *synAcl="{ aclResources: ['User'], aclRight: 'Update', allowMe: data.user }"
      tabindex="-1"
      mat-icon-button
      class="edit-button"
      (click)="onEditUser()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="body">
    <syn-avatar
      class="avatar"
      [imageData]="image$ | async"
      [placeholder]="placeholder"
      size="250px"
      alt="User avatar"
    ></syn-avatar>
    <syn-user-view-fields [user]="data.user"></syn-user-view-fields>
  </div>
</div>
