<ng-container *ngIf="performance$ | async as performance">
  <div class="machine-detail">
    <syn-asset-image
      *ngIf="machine$ | async as machine"
      class="card asset-image"
      [asset]="machine"
      [placeholder]="placeholder"
      (click)="onAssetView(machine)"
    ></syn-asset-image>
    <div class="performance-section">
      <div class="total-output-goods">
        <span class="count">{{ totalCount$ | async | formatNumber }}</span>
        <span>{{ 'ASSET.LABEL.TOTAL_OUTPUT_GOODS' | translate }}</span>
      </div>
      <div>
        <syn-performance-range-filter></syn-performance-range-filter>
      </div>
      <div class="production-info">
        <div
          *ngIf="timeProducingLoaded$ | async; else loadingCard"
          matRipple
          [matRippleRadius]="10000"
          class="card production-info-card clickable"
          matRipple
          (click)="toTimeProducingPage()"
        >
          <div class="title">{{ 'ASSET.LABEL.TIME_OF_PRODUCING' | translate }}</div>
          <syn-gauge
            [value]="performance.timeProducing"
            [additional]="performance.timeProducingDuration"
            threshold="0"
            sizeFactor="1.3"
          ></syn-gauge>
        </div>

        <div
          *ngIf="productLossesLoaded$ | async; else loadingCard"
          matRipple
          [matRippleRadius]="10000"
          class="card production-info-card clickable"
          matRipple
          (click)="toProductLossPage()"
        >
          <div class="title">{{ 'ASSET.LABEL.PRODUCT_LOSSES' | translate }}</div>
          <syn-gauge
            [value]="performance.productLoss"
            [additional]="performance.productLossCount + ' cts'"
            threshold="10000000"
            sizeFactor="1.3"
          ></syn-gauge>
        </div>

        <div
          *ngIf="faultStopTimeLoaded$ | async; else loadingCard"
          matRipple
          [matRippleRadius]="10000"
          class="card production-info-card clickable"
          matRipple
          (click)="toFaultStopsPage()"
        >
          <div class="title">{{ 'ASSET.LABEL.FAULT_STOP_TIME' | translate }}</div>
          <syn-gauge
            [value]="performance.faultStop"
            [additional]="performance.faultStopDuration + ' / ' + performance.stopsCount + ' cts'"
            threshold="10000000"
            sizeFactor="1.3"
          ></syn-gauge>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="asset-tabs-wrapper">
  <mat-tab-group *ngIf="machine$ | async as machine" class="asset-detail-tabs">
    <mat-tab [label]="'TASK.NAME_PLURAL' | translate">
      <ng-template mat-tab-label>
        <div class="tab-label-wrapper" [class.with-badge]="dueTasksCount$ | async">
          {{ 'TASK.NAME_PLURAL' | translate }}
          <span class="task-counter" *ngIf="dueTasksCount$ | async as count">
            {{ count }}
          </span>
        </div>
      </ng-template>
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Task'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateTask()"
          >
            {{ 'TASK.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-task-list [refIds]="[machine.id]" mode="asset" [hideFilter]="true"></syn-task-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'DOCUMENT.NAME_PLURAL' | translate">
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Document'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateDocument()"
          >
            {{ 'DOCUMENT.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-document-list
          mode="asset"
          titleWidth="45"
          [refId]="machine.id"
          [hideFilter]="true"
        ></syn-document-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'WORK_INSTRUCTION.NAME_PLURAL' | translate">
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Instruction'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateInstruction()"
          >
            {{ 'WORK_INSTRUCTION.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-work-instruction-list
          mode="asset"
          titleWidth="45"
          [refId]="machine.id"
          [hideFilter]="true"
        ></syn-work-instruction-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #loadingCard>
  <div class="card production-info-card card-placeholder table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
