@import 'mixins';

.machine-detail {
  @include asset-details();
  flex-wrap: wrap;

  .asset-image {
    @media (max-width: 960px) {
      margin-bottom: 10px;
      margin-right: 0;
      min-height: 230px;
    }
  }
}

.task-counter {
  @include asset-tab-count-badge();
}

.output-goods {
  align-items: center;
  display: flex;
  font-weight: 300;
  color: $text-dark;
  white-space: nowrap;

  .mat-icon {
    color: $primary;
    font-size: 28px;
    margin-right: 14px;
    padding-bottom: 8px;
  }

  .counter {
    color: $text-dark;
    font-weight: bold;
    margin-right: 6px;
  }
}

.production-info {
  min-height: 200px;
  display: flex;
  flex-wrap: nowrap;

  .production-info-card {
    padding: 10px 25px;
    margin: 5px;
    margin-bottom: 0;
    flex-basis: 130px;
    flex-shrink: 0;

    .title {
      text-align: center;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.card-container {
  justify-content: space-between;
}

.asset-tabs-wrapper {
  @include asset-tabs-wrapper();
}

.tab-label-wrapper {
  @include tab-label-wrapper();
}

.card-placeholder {
  @include card-placeholder();
}
