<div class="gauge-container">
  <ngx-gauge
    [ngStyle]="{ color: color }"
    type="full"
    [thick]="10 * sizeFactor"
    [size]="100 * sizeFactor"
    append="%"
    [foregroundColor]="color"
    [value]="value"
  >
  </ngx-gauge>
  <div *ngIf="additional" class="gauge-label" [ngStyle]="{ color: color }">
    {{ additional }}
  </div>
</div>
