<div
  #dropdownContainer
  [ngClass]="{
    'dropdown-wrapper': isFilter,
    'open-dropdown-wrapper': isOpen,
    'filter-opened': isOpen && isFilter
  }"
  (clickOutside)="hideMenu()"
>
  <div
    class="dropdown"
    [ngClass]="{
      danger: error,
      selected: !!selectedAssets.length,
      'dropdown-with-reset': isFilter,
      'dropdown-disable-shadow': disableShadow
    }"
  >
    <ng-container *ngTemplateOutlet="trigger"></ng-container>
  </div>
  <div [class.dropdown-connect]="isFilter"></div>

  <ng-template #dropdownTemplate>
    <div
      class="menu dropdown-menu"
      [class.filter-dropdown-menu]="isFilter"
      [class.dropdown-inverted]="!facesDown"
    >
      <ng-container *ngIf="facesDown">
        <ng-container *ngTemplateOutlet="trigger"></ng-container>
      </ng-container>
      <div class="dropdown-list">
        <syn-asset-select-tree
          [assets]="assets"
          [(selectedNodes)]="selectedAssets"
          [multiple]="multiple"
        ></syn-asset-select-tree>
      </div>
      <ng-container *ngIf="!facesDown">
        <ng-container *ngTemplateOutlet="trigger"></ng-container>
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-template #trigger>
  <div>
    <div
      class="dropdown"
      [ngClass]="{
        danger: error && !isOpen,
        selected: !!selectedAssets.length,
        'dropdown-with-reset': isFilter,
        'dropdown-disable-shadow': disableShadow,
        'dropdown-filter-margin': isOpen && isFilter
      }"
    >
      <div (click)="onOpenDropdown($event)" class="dropdown-control">
        <div class="reset" (click)="reset($event)" *ngIf="isResettable">
          <mat-icon class="mat-icon">cancel</mat-icon>
        </div>
        <span class="placeholder" [class.filter-label]="isFilter">{{ label }} </span>
        <span *ngIf="multiple && selectedLength > 1" class="hide-more">
          +{{ selectedLength - 1 }}
        </span>
        <button mat-icon-button [disableRipple]="true" class="toggle-icon-button">
          <mat-icon class="mat-icon toggle-icon">
            {{ isOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
