@import 'mixins';

.dropdown-wrapper {
  padding: 5px 5px 0;
  width: 200px;

  &.open-dropdown-wrapper {
    background: $modal-background;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 6px -3px $text-disabled;
    .dropdown.open-dropdown {
      border-radius: 18px !important;
    }
  }
  &.filter-opened {
    padding: 0px 5px 0px 5px;
  }
}

.dropdown {
  @include select-input();
  @include select-filter-input();
  position: relative;

  .reset {
    @include reset();
  }
  .hide-more {
    color: $secondary;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.menu {
  @include select-input();
  @include select-filter-input();
  .placeholder {
    font-weight: bold;
  }
  .filter-label {
    font-weight: unset;
  }
  &.filter-dropdown-menu {
    @include filter-select-input-menu();
  }
}

.danger {
  background: $background-danger;
  color: $danger;
}

.dropdown-with-reset {
  max-width: 200px;
}

.dropdown-menu {
  width: 100%;
  background-color: $background-dark;
  border-radius: 20px;
  box-shadow: 0px 6px 6px -5px grey;
  color: $secondary;
  font-weight: 300;

  .dropdown-list {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 0 22px;
  }

  &.filter-dropdown-menu {
    @include filter-select-input-menu();
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 20px;
  }
}

.dropdown-inverted {
  border-radius: 20px;

  .dropdown-item {
    &:hover {
      background: $selected-background;
      &:first-child {
        border-radius: 20px 20px 0 0;
      }
      &:last-child {
        border-radius: 0;
      }
    }
  }
}

.dropdown-connect {
  margin: 0 -5px 0 -5px;
}

.dropdown-filter-margin {
  margin: 5px 5px 0;
}
