<syn-modal-container
  [title]="'MACHINE_TYPE_TAG.CREATE_MODAL_TITLE' | translate"
  (cancel)="onClose()"
>
  <ng-container body>
    <syn-machine-type-tag-form
      formId="machine-type-tag-form"
      (created)="onClose()"
      (valid)="submitBtn.disabled = !$event"
    >
    </syn-machine-type-tag-form>
  </ng-container>
  <ng-container actions>
    <button
      #submitBtn
      form="machine-type-tag-form"
      synButton
      mode="weak"
      color="primary"
      class="single-action"
      type="submit"
    >
      {{ 'COMMON.ACTION.CREATE' | translate }}
    </button>
  </ng-container>
</syn-modal-container>
