<div>
  <div class="error-list-title">{{ 'COMMON.LABEL.ERROR' | translate }}!</div>
  <div class="error-list-body">
    <div *ngFor="let err of data">{{ err }}</div>
  </div>
</div>
<button mat-stroked-button color="primary" (click)="snackBarRef.dismiss()">
  {{ 'COMMON.LABEL.CLOSE' | translate }}
</button>
