@import 'mixins';

.user-form {
  margin: 16px;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;

    .col {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-right: 10%;
    }

    .col:nth-last-child(1) {
      margin-left: 6%;
    }
  }
}

.text-field {
  @include text-field();
}

.user-field {
  @include regular-text();
}
