<div class="user-form">
  <form [formGroup]="form" [id]="formId" (ngSubmit)="onSubmit()" class="content">
    <div>
      <syn-form-control
        name="name"
        [title]="('USER.INFO.USERNAME' | translate) + '*'"
        [control]="getControl('name')"
      >
        <input
          class="text-field value"
          [class.danger]="hasError('name')"
          type="text"
          formControlName="name"
        />
      </syn-form-control>
      <syn-form-control
        name="roleIds"
        [title]="('USER.INFO.ROLE' | translate) + '*'"
        [control]="getControl('roleIds')"
      >
        <mat-select
          class="item-name dropdown"
          [class.danger]="hasError('roleIds')"
          [compareWith]="compareWith"
          formControlName="roleIds"
        >
          <!-- Later when we move to multiple roles remove the brackets around role.id and set 'multiple' in <mat-select> -->
          <mat-option *ngFor="let role of roles$ | async" class="user-field" [value]="[role.id]">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </syn-form-control>
      <syn-form-control
        name="language"
        [title]="('USER.INFO.LANGUAGE' | translate) + '*'"
        [control]="getControl('language')"
      >
        <mat-select formControlName="language" [class.danger]="hasError('language')">
          <mat-option *ngFor="let lang of languages" class="user-field" [value]="lang.value">
            {{ getLanguageLabel(lang.label) | translate }}
          </mat-option>
        </mat-select>
      </syn-form-control>
      <syn-form-control
        name="email"
        [title]="'USER.INFO.EMAIL' | translate"
        [control]="getControl('email')"
      >
        <input
          class="text-field value"
          [class.danger]="hasError('email')"
          type="text"
          formControlName="email"
        />
      </syn-form-control>
    </div>
    <div *ngIf="isUserEdit">
      <ng-template [synAcl]="{ prohibitMe: user, aclResources: ['User'], aclRight: 'Update' }">
        <syn-form-control
          name="password"
          [title]="'USER.FORM.PASSWORD' | translate"
          [control]="getControl('password')"
        >
          <input
            class="text-field value"
            [class.danger]="hasError('password') || hasPasswordError()"
            type="password"
            autocomplete="new-password"
            formControlName="password"
          />
        </syn-form-control>
        <syn-form-control
          name="passwordRepeat"
          [title]="'USER.FORM.REPEAT_PASSWORD' | translate"
          [control]="getControl('passwordRepeat')"
          [error]="hasPasswordError() ? 'Password mismatch' : null"
        >
          <input
            class="text-field value"
            [class.danger]="hasError('passwordRepeat') || hasPasswordError()"
            type="password"
            autocomplete="new-password"
            formControlName="passwordRepeat"
          />
        </syn-form-control>
      </ng-template>
    </div>
    <div>
      <ng-container *ngIf="showPassword">
        <syn-form-control
          *ngIf="!isCreate"
          name="oldPassword"
          [title]="'USER.FORM.OLD_PASSWORD' | translate"
          [control]="getControl('oldPassword')"
        >
          <input
            class="text-field value"
            [class.danger]="hasError('oldPassword') || hasPasswordError()"
            type="password"
            autocomplete="new-password"
            formControlName="oldPassword"
          />
        </syn-form-control>
        <syn-form-control
          name="password"
          [title]="'USER.FORM.PASSWORD' | translate"
          [control]="getControl('password')"
        >
          <input
            class="text-field value"
            [class.danger]="hasError('password') || hasPasswordError()"
            type="password"
            autocomplete="new-password"
            formControlName="password"
          />
        </syn-form-control>
        <syn-form-control
          name="passwordRepeat"
          [title]="'USER.FORM.REPEAT_PASSWORD' | translate"
          [control]="getControl('passwordRepeat')"
          [error]="
            hasPasswordError() ? ('USER.FORM.VALIDATION_ERROR.PASSWORD_MISMATCH' | translate) : null
          "
        >
          <input
            class="text-field value"
            [class.danger]="hasError('passwordRepeat') || hasPasswordError()"
            type="password"
            autocomplete="new-password"
            formControlName="passwordRepeat"
          />
        </syn-form-control>
      </ng-container>
    </div>
  </form>
</div>
