<div class="sidebar-container">
  <div class="sidebar-items">
    <div class="sidebar-home-item" [routerLink]="homeRoute"></div>
    <ng-container *ngTemplateOutlet="navItems; context: { $implicit: sidebar.top }"></ng-container>
  </div>
  <div class="sidebar-items">
    <ng-container
      *ngTemplateOutlet="navItems; context: { $implicit: sidebar.bottom }"
    ></ng-container>
  </div>
</div>

<ng-template #navItems let-items>
  <div
    *ngFor="let item of items"
    class="sidebar-item"
    [class.active]="activeItem === item"
    [routerLink]="item.path"
    (click)="item.onClick ? item.onClick() : noop()"
  >
    <svg-icon
      [title]="item.label | translate"
      [src]="activeItem === item ? item.svg.active : item.svg.inactive"
      [svgClass]="'item-content'"
    ></svg-icon>
    <span class="title">{{ item.title | translate }}</span>
  </div>
</ng-template>
