@import 'variables';

.sidebar-container {
  background: $modal-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $sidebar-width;
  height: 100%;

  .sidebar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .sidebar-item {
      outline: none;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex-direction: column;

      &:not(.active):hover {
        width: 90%;
        box-shadow: -5px 0px 1px -1px $primary;
        color: $text-dark;
      }
      &.active .title {
        color: $text-dark;
      }
      .title {
        overflow-wrap: anywhere;
        text-align: center;
        font-size: 9px;
        color: $text-light;
      }
    }
  }
}

.item-content {
  height: 28px;
  width: 28px;
}
