@import 'variables';

.breadcrumbs-navigation {
  margin-bottom: 22px;

  .nav-item {
    padding: 10px;
    color: $text-light;
  }

  .nav-clickable {
    cursor: pointer;
  }

  .link:hover {
    color: darken($text-light, 10);
  }

  .nav-container:nth-last-of-type(1) {
    .separator {
      display: none;
    }
  }
  .nav-container:first-child {
    .nav-item {
      padding-left: 0px;
    }
  }

  .separator {
    color: $text-light;
  }
}
