<div class="breadcrumbs-navigation">
  <span *ngFor="let nav of breadcrumbHistory" class="nav-container">
    <a (click)="onNavigate(nav)" [routerLink]="nav.path" class="nav-item nav-clickable link">
      {{ nav.title | translate }}
    </a>
    <span class="separator">|</span>
  </span>
</div>
