<div class="syn-modal" [class.fullscreen-modal-body]="isFullscreen">
  <div class="header">
    <button *ngIf="backInsteadClose" tabindex="-1" mat-icon-button (click)="onBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button *ngIf="!backInsteadClose" tabindex="-1" mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
    <h3 class="title" [ngStyle]="{ 'max-width': maxWidth || 'auto' }">{{ title }}</h3>
    <ng-content select="[header-action]"></ng-content>
  </div>
  <div class="modal-body" cdkScrollable>
    <ng-content select="[body]"></ng-content>
  </div>

  <div class="actions">
    <ng-content select="[actions]"></ng-content>
  </div>
</div>
