@import 'mixins';

.syn-modal {
  @include modal-form();
  width: auto;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modal-body {
    overflow-y: auto;
    padding: 0px 8px;
  }
}

.btn {
  @include button();
}
