<ng-template #navbarActionsView>
  <div class="page-actions">
    <syn-new-dropdown
      *synAcl="{ aclResources: ['Asset'], aclRight: 'Create' }"
      [items]="dropdownItems"
      [placeholder]="'ASSET.ACTION.NEW' | translate"
      (valueChange)="createAsset($event)"
    ></syn-new-dropdown>
    <div class="toggle-actions">
      <button synButton mode="basic" (click)="collapseAll()" class="toggle-tree">
        {{ 'COMMON.ACTION.COLLAPSE_ALL' | translate }}
      </button>
      <button synButton mode="basic" (click)="expandAll()" class="toggle-tree">
        {{ 'COMMON.ACTION.EXPAND_ALL' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<syn-asset-tree #tree [assetTrees]="assetTrees$ | async" (edit)="onEdit($event)"></syn-asset-tree>
