@import 'mixins';

.page-actions {
  @include page-actions();
  justify-content: flex-start;
  align-items: center;
  min-width: 425px;
  position: relative;
  min-height: 36px;
  max-height: 36px;
}

.toggle-actions {
  display: flex;
  right: 0;
  position: relative;
  margin: 25px 10px 36px 125px;
  .toggle-tree {
    display: inline;
    font-weight: normal;
    line-height: 16px;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    padding: 10px;
    z-index: 10;
    margin-top: 10px;

    + .toggle-tree {
      margin-left: 10px;
    }
  }
}

.toggle-tree:active,
.toggle-tree.active {
  box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 6px 0 rgba(255, 255, 255, 0.5);
}
