@import 'mixins';

.documents-list {
  @include base-table($with-hover: true);
  height: 62vh;
  overflow: scroll;
  .mat-column-title {
    @include title-column();
  }

  .document-link {
    color: $secondary-dark;
  }
}

.table-header-background {
  background: $modal-background;
}

.filter-panel {
  @include table-filter-panel();
}

syn-filter-select + syn-filter-select,
syn-filter-select + syn-asset-select {
  margin-left: 10px;
}

syn-asset-select {
  font-weight: 300;
}

.text-field {
  @include text-field();
}
