<div *ngIf="!hideFilter" class="filter-panel">
  <div class="search" [class.selected]="!!selectedFilters.title">
    <div class="reset" (click)="onSearch('')" *ngIf="selectedFilters.title?.length">
      <mat-icon class="mat-icon">cancel</mat-icon>
    </div>
    <input
      class="text-field"
      [placeholder]="'COMMON.LABEL.TITLE' | translate"
      synSearch
      searchDelay="250"
      (search)="onSearch($event)"
      [ngModel]="selectedFilters.title"
    />
    <mat-icon>search</mat-icon>
  </div>
  <syn-filter-select
    *ngFor="let item of filterConfig | keyvalue"
    [multiple]="item.value.multiple"
    [placeholder]="item.value.placeholder | translate"
    [options]="item.value.options"
    [(selected)]="selectedFilters[item.key]"
    (selectedChange)="applyFilter()"
  >
  </syn-filter-select>
  <syn-asset-select
    class="asset-filter-select"
    [placeholder]="'SHARED.SEARCH.FILTER.LINKED_ASSETS' | translate"
    [assets]="assetTrees$ | async"
    [multiple]="true"
    [isFilter]="true"
    [(selected)]="selectedFilters.refId"
    (selectedChange)="applyFilter()"
  >
  </syn-asset-select>
</div>

<div class="table-bg documents-list">
  <table matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngStyle]="style"
        [ngClass]="{ 'table-title-active': sort.active === 'title' }"
      >
        {{ 'COMMON.LABEL.TITLE' | translate | truncateText: 22 }}
      </th>
      <td mat-cell *matCellDef="let doc">
        <span>{{ doc.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="machineTypeTags">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.MACHINE_TYPES' | translate }}
      </th>
      <td mat-cell *matCellDef="let doc">
        <span>{{ doc.machineTypeTags | hideMore: 2 | truncateText: 22 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="assets">
      <th mat-header-cell *matHeaderCellDef>{{ 'SHARED.RELATION.LINKED_ASSETS' | translate }}</th>
      <td mat-cell *matCellDef="let doc">
        <span>
          {{ getAssetNames(doc) | async | hideMore: 2 | truncateText: 22 }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="contentTypeGroup">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'contentTypeGroup' }"
      >
        {{ 'DOCUMENT.INFO.TYPE' | translate }}
      </th>
      <td mat-cell *matCellDef="let doc">
        <span>{{ doc.contentTypeGroup | titlecase }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'createdAt' }"
      >
        {{ 'COMMON.LABEL.CREATED_AT' | translate }}
      </th>
      <td mat-cell *matCellDef="let doc">
        <span>
          {{ doc.createdAt | date: 'dd.MM.yyyy | HH:mm' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let doc" (click)="$event.stopPropagation()">
        <syn-table-actions
          [label]="'COMMON.LABEL.OPTIONS' | translate"
          [menuActions]="actions"
          (actionSelected)="onActionClick($event, doc)"
        ></syn-table-actions>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="visibleColumns$ | async; sticky: true"
      class="table-header-background"
    ></tr>
    <tr
      mat-row
      synClickActive
      *matRowDef="let doc; columns: visibleColumns$ | async"
      (click)="openDoc(doc)"
    ></tr>
  </table>

  <div *ngIf="loading$ | async" class="table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div *ngIf="isEmpty" class="no-items-message">
    <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
  </div>
  <mat-paginator
    [length]="dataSource.pageResMeta.total"
    [pageSize]="dataSource.pageParams.limit"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
