<div class="uploading-status">
  <mat-progress-bar
    class="document-upload__progress-bar"
    mode="determinate"
    [value]="uploadProgress$ | async"
  ></mat-progress-bar>
  <span>{{ (uploadProgress$ | async) || 0 }}%</span>
</div>
