@import 'mixins';

.edit-asset-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  button + button {
    margin-left: 10px;
  }
}

.asset-form-container {
  display: flex;
  color: $secondary;

  .edit-avatar {
    flex: 4;
    display: flex;
    margin-right: 26px;
    flex-direction: column;
    max-width: 500px;

    .avatar-wrapper {
      background: $text-light;
    }

    .avatar-container {
      align-items: flex-start;
      display: flex;
      border-radius: 45px;
      height: 100%;
      max-height: 325px;

      .avatar {
        border-radius: 45px;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .asset-body {
    flex: 6;

    .asset-card {
      min-height: 410px;
    }
  }

  .navigation {
    display: inline-flex;
    margin: 12px 0;
    min-height: 45px;

    .page-label {
      align-self: center;
      margin-right: 24px;
      font-size: 22px;
    }

    .actions {
      display: flex;
      flex: 1;
    }
  }
}

.text-field {
  @include text-field();
}

.button {
  @include button();
}

#avatar-uploader {
  display: none;
}
