<div class="edit-asset-control">
  <input type="file" id="avatar-uploader" (change)="onFileChange($event.target.files)" />
  <label for="avatar-uploader" synButton mode="weak" color="secondary">
    {{ (hasImage ? 'COMMON.ACTION.CHANGE_IMAGE' : 'COMMON.ACTION.ADD_IMAGE') | translate }}
  </label>
</div>

<div class="asset-form-container">
  <div class="edit-avatar">
    <div #assetImg class="avatar-container avatar-wrapper"></div>
  </div>

  <div class="asset-body">
    <div class="asset-card">
      <div class="content" [ngSwitch]="type">
        <syn-machine-form
          *ngSwitchCase="AssetTypes.MACHINE"
          formId="edit-asset-form"
          [asset]="asset$ | async"
          (created)="onUploadImg($event)"
          (valid)="onFormValidate($event)"
          (changed)="changed.emit($event)"
        ></syn-machine-form>
        <syn-line-form
          *ngSwitchCase="AssetTypes.LINE"
          formId="edit-asset-form"
          [asset]="asset$ | async"
          (created)="onUploadImg($event)"
          (valid)="onFormValidate($event)"
          (changed)="changed.emit($event)"
        ></syn-line-form>
        <syn-factory-form
          *ngSwitchCase="AssetTypes.FACTORY"
          formId="edit-asset-form"
          [asset]="asset$ | async"
          (created)="onUploadImg($event)"
          (valid)="onFormValidate($event)"
          (changed)="changed.emit($event)"
        ></syn-factory-form>
        <div *ngSwitchDefault>{{ 'ASSET.SEARCH.NO' | translate }}</div>
      </div>
    </div>
  </div>
</div>
