<mat-tab-group
  [(selectedIndex)]="currentTab"
  (selectedTabChange)="onTabChange($event)"
  class="tab-group assign-entity-tabs"
>
  <mat-tab [label]="'DOCUMENT.ACTION.UPLOAD_NEW' | translate">
    <syn-document-form
      #documentForm
      formId="link-doc-form"
      (created)="onCreate($event)"
      (valid)="disabled = !$event"
      (openAssignment)="openAssignment.emit($event)"
    ></syn-document-form>
  </mat-tab>
  <mat-tab [label]="'COMMON.ACTION.BROWSE_EXISTING' | translate">
    <div class="table-bg link-items">
      <table matSort mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <!--
            <mat-checkbox
              (change)="showOnlySelected($event)"
              [checked]="selection.hasValue() && isOnlySelected()"
            >
            </mat-checkbox>
          --></th>
          <td mat-cell *matCellDef="let doc">
            <mat-checkbox
              class="tag-item"
              color="secondary"
              [checked]="selection.isSelected(doc.id)"
              (change)="onSelectionChange(doc)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            <b>{{ 'DOCUMENT.NAME' | translate }}</b>
          </th>
          <td mat-cell *matCellDef="let doc">
            <span>{{ doc.title }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="contentType">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            {{ 'DOCUMENT.INFO.TYPE' | translate }}
          </th>
          <td mat-cell *matCellDef="let doc">
            <span>
              {{ getDocTypeDisplayName(doc) | translate }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visibleColumns$ | async"></tr>
        <tr mat-row *matRowDef="let documents; columns: visibleColumns$ | async"></tr>
      </table>

      <div *ngIf="isEmpty" class="no-items-message">
        <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
      </div>
      <mat-paginator
        [disabled]="isOnlySelected()"
        [length]="dataSource.pageResMeta.total"
        [pageSize]="dataSource.pageParams.limit"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
