@font-face {
  font-family: 'Syntegon';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/syntegon/Syntegon-Regular.woff2') format('woff2'),
    url('./fonts/syntegon/Syntegon-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Syntegon';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('./fonts/syntegon/Syntegon-Italic.woff2') format('woff2'),
    url('./fonts/syntegon/Syntegon-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Syntegon';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/syntegon/Syntegon-Medium.woff2') format('woff2'),
    url('./fonts/syntegon/Syntegon-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Syntegon';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('./fonts/syntegon/Syntegon-Bold.woff2') format('woff2'),
    url('./fonts/syntegon/Syntegon-Bold.woff') format('woff');
}
