<ng-template #navbarActionsView>
  <div class="page-actions">
    <button
      *synAcl="{ aclResources: ['Task'], aclRight: 'Create' }"
      synButton
      color="secondary"
      mode="strong"
      (click)="onCreateTask()"
    >
      {{ 'TASK.ACTION.NEW' | translate }}
    </button>
  </div>
</ng-template>

<syn-task-list [mode]="mode$ | async"></syn-task-list>
