@import 'variables';

.performance-range-filter {
  display: flex;
  padding: 8px 0;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title {
    color: $text-dark;
    margin-right: 15px;
  }

  .exists-options {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 16px;
    margin-bottom: 10px;

    .mat-chip {
      color: $text-light;
      font-size: 12px;
    }
    .mat-chip-selected {
      color: $secondary;
      background-color: $background-weak;
      border: 2px solid $secondary;
      font-weight: bold;
    }
  }
  .chip-item {
    height: 27px;
  }
  .time-range-mobile {
    display: flex;
    flex-wrap: wrap;
    color: $text-dark;

    .mobile-native-input {
      height: 36px;
      margin: auto 4px;
      -webkit-appearance: none;
      background-color: $background-weak;
      border-radius: 20px;
      border: none;
      outline: none;
      padding: 0 10px;
      min-width: 100px;
      &.custom-selected {
        color: $secondary;
        background-color: $background-weak;
        border: 2px solid $secondary;
        font-weight: bold;
      }
    }
  }
}

.time-picker-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding-bottom: 34px;
}

.time-picker-btn {
  margin: auto 0;
  max-height: 32px;
  background-color: $background-weak;
  border-radius: 20px;
  outline: none;
  transition: min-width 350ms ease-out;

  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.custom-selected {
    color: $secondary;
    background-color: $background-weak;
    border: 2px solid $secondary;
    font-weight: bold;
  }

  &.open-picker {
    border-radius: 20px 20px 0 0;
    min-width: 296px;
  }

  .trigger-btn {
    max-width: 32px;
    max-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: $text-dark;
    font-size: 12px;
    padding: 0 10px;
  }

  .placeholder {
    color: $text-light;
    font-size: 12px;
  }
  .mat-icon {
    color: $text-light;
  }
}
