<div class="performance-range-filter">
  <mat-chip-list class="exists-options">
    <mat-chip
      *ngFor="let range of AVAILABLE_INTERVALS"
      (click)="onChipSelect(range.value)"
      [selected]="range.value === (currentFilter$ | async)"
      class="chip-item clickable"
    >
      {{ range.name }}
    </mat-chip>
  </mat-chip-list>
  <ng-container *ngIf="isDesktop; else mobileDatepicker">
    <label>
      <input
        [owlDateTime]="dt10"
        selectMode="range"
        (dateTimeChange)="change($event.value)"
        [ngModel]="[defaultStart, defaultFinish]"
        class="time-picker-input"
      />
      <owl-date-time
        #dt10
        [startAt]="[startTime, finishTime]"
        [scrollStrategy]="dt10.overlay.scrollStrategies.reposition()"
      ></owl-date-time>
    </label>
    <div
      [owlDateTimeTrigger]="dt10"
      class="time-picker-btn"
      [class.custom-selected]="customRangeSelected$ | async"
      [class.open-picker]="dt10.opened"
    >
      <ng-container
        *ngIf="(customRangeSelected$ | async) || dt10.opened; else timeRangePlaceholder"
      >
        <span class="placeholder">{{ 'COMMON.TIME.LABEL.RANGE' | translate }}</span>
        <span>{{ startTime | date: 'short' }}</span>
        <span>{{ finishTime | date: 'short' }}</span>
      </ng-container>
      <ng-template #timeRangePlaceholder>
        <span class="placeholder">{{ 'COMMON.TIME.ACTION.SET_TIME_RANGE' | translate }}</span>
      </ng-template>
      <button mat-icon-button class="trigger-btn" [disableRipple]="true">
        <mat-icon class="mat-icon">
          {{ dt10.opened ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #mobileDatepicker>
    <div class="time-range-mobile">
      <div>
        <span>{{ 'COMMON.LABEL.FROM' | translate }}:</span>
        <input
          class="mobile-native-input"
          [class.custom-selected]="customRangeSelected$ | async"
          type="datetime-local"
          [defaultValue]="defaultStart"
          [max]="limitStart$ | async"
          (input)="onMobilePickerChange($event.target.value, 'startTime')"
        />
      </div>
      <div>
        <span>{{ 'COMMON.LABEL.TO' | translate }}:</span>
        <input
          class="mobile-native-input"
          type="datetime-local"
          [defaultValue]="defaultFinish"
          [class.custom-selected]="customRangeSelected$ | async"
          (input)="onMobilePickerChange($event.target.value, 'finishTime')"
        />
      </div>
    </div>
  </ng-template>
</div>
