<div class="form-card">
  <form [formGroup]="form" [id]="formId" (ngSubmit)="onSubmit()" class="content">
    <syn-form-control
      name="name"
      [title]="('ASSET.FORM.NAME' | translate) + '*'"
      [control]="getControl('name')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('name')"
        type="text"
        formControlName="name"
      />
    </syn-form-control>
    <syn-form-control
      name="device"
      [title]="'ASSET.FORM.PHYSICAL_MACHINE' | translate"
      [control]="getControl('device')"
    >
      <mat-select
        class="item-name dropdown"
        [class.danger]="hasError('device')"
        formControlName="device"
      >
        <mat-option [value]="''">-- {{ 'COMMON.LABEL.NONE' | translate }} --</mat-option>
        <mat-option *ngFor="let device of devices$ | async" [value]="device">
          {{ device }}
        </mat-option>
      </mat-select>
    </syn-form-control>
    <syn-form-control
      name="parent"
      [title]="('ASSET.FORM.PARENT' | translate) + '*'"
      [control]="getParentControl()"
    >
      <syn-asset-select
        class="item-name"
        formControlName="parent"
        [error]="hasError('parent')"
        [disableShadow]="true"
        [assets]="assetTrees$ | async"
        [placeholder]="'ASSET.ACTION.CHANGE_PARENT_ASSET_TO' | translate"
        [selected]="parent$ | async"
        (selectedChange)="setParent($event)"
      ></syn-asset-select>
    </syn-form-control>
    <syn-form-control
      name="position"
      [title]="'ASSET.FORM.PRECEDING_ASSET' | translate"
      [control]="getControl('position')"
    >
      <mat-select
        class="item-name dropdown"
        [class.danger]="hasError('position')"
        formControlName="position"
      >
        <mat-option [value]="1">-- {{ 'COMMON.NUMERIC.FIRST' | translate }} --</mat-option>
        <mat-option *ngFor="let sibling of siblings$ | async" [value]="sibling.position + 1">
          {{ sibling.name }}
        </mat-option>
      </mat-select>
    </syn-form-control>
    <div class="action-bar">
      <mat-checkbox class="checkbox" color="secondary" formControlName="isLineOutput">
        <span class="checkbox-label">{{ 'ASSET.FORM.CONTRIBUTES_LINE_OUTPUT' | translate }}</span>
      </mat-checkbox>
      <div class="upload-button-container">
        <button
          [disabled]="!mappingUploadEnabled"
          (click)="openMappingModal()"
          type="button"
          synButton
          color="secondary"
          mode="strong"
        >
          {{ 'MAPPING.FORM.UPLOAD_MAPPING' | translate }}
        </button>
      </div>
      <button
        type="button"
        synButton
        mode="strong"
        color="secondary"
        (click)="openTagCreateModal()"
      >
        {{ 'MACHINE_TYPE_TAG.ACTION.NEW' | translate }}
      </button>
    </div>
    <div class="spacer">
      <div class="separator"></div>
    </div>
    <syn-form-control
      name="manufacturer"
      [title]="'ASSET.FORM.MANUFACTURER' | translate"
      [control]="getControl('manufacturer')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('manufacturer')"
        type="text"
        formControlName="manufacturer"
      />
    </syn-form-control>
    <syn-form-control
      name="machineType"
      [title]="'SHARED.RELATION.MACHINE_TYPE' | translate"
      [control]="getControl('machineType')"
    >
      <mat-select
        class="item-name dropdown"
        [class.danger]="hasError('machineType')"
        formControlName="machineType"
      >
        <mat-option [value]="''">-- {{ 'COMMON.LABEL.NONE' | translate }} --</mat-option>
        <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-select>
    </syn-form-control>
    <syn-form-control
      name="serialNumber"
      [title]="'COMMON.LABEL.SERIAL_NUMBER' | translate"
      [control]="getControl('serialNumber')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('serialNumber')"
        type="text"
        formControlName="serialNumber"
      />
    </syn-form-control>
    <syn-form-control
      name="constructionYear"
      [title]="'ASSET.FORM.CONSTRUCTION_YEAR' | translate"
      [control]="getControl('constructionYear')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('constructionYear')"
        type="number"
        formControlName="constructionYear"
        [max]="maxConstructionYear"
      />
    </syn-form-control>
  </form>
</div>
