@import 'mixins';

.form-card {
  @include asset-form();
  .content {
    grid-gap: 3%;
  }
}

.right-column {
  grid-column: 2 / -1;
}

.checkbox {
  justify-content: center;
  align-items: center;
  display: flex;
  .checkbox-label {
    color: $input-text;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    white-space: break-spaces;
    .mat-checkbox-layout {
      width: 100%;
      justify-content: center;
      .mat-checkbox-inner-container {
        margin: 0;
      }
    }
  }
}

.action-bar {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.spacer {
  grid-column: 1 / -1;
  padding: 10px 0;
  .separator {
    height: 1px;
    background: #dbdbdb;
  }
}

.upload-button-container {
  display: flex;
  justify-content: center;
}
