<div *ngIf="checkSource" class="asset-tree-wrapper">
  <cdk-tree
    #tree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    [ngClass]="backgroundVariant"
  >
    <cdk-nested-tree-node *cdkTreeNodeDef="let node">
      <div
        class="asset-tree-container no-children"
        [ngClass]="{
          'top-level': assetsFirstLevelDeep.includes(node.id),
          factory: node.type === assetType.FACTORY
        }"
      >
        <div class="tree-node-content">
          <syn-asset-tree-element
            [asset]="node"
            [hideParentChange]="hideParentChange"
            (view)="onAssetView(node)"
            (action)="onAction($event)"
            class="asset-element"
            [variant]="variant"
          ></syn-asset-tree-element>
        </div>
      </div>
    </cdk-nested-tree-node>
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChildren">
      <div
        class="asset-tree-container with-children"
        [ngClass]="{
          'top-level': assetsFirstLevelDeep.includes(node.id),
          factory: node.type === assetType.FACTORY
        }"
      >
        <div class="asset-tree-node tree-node-content">
          <button
            *ngIf="!!node.children && node.children.length > 0"
            mat-icon-button
            [attr.aria-label]="'toggle ' + node.name"
            cdkTreeNodeToggle
          >
            <mat-icon
              class="toggle-btn"
              [ngClass]="{
                'closed-toggle-btn': treeControl.isExpanded(node),
                'open-toggle-btn': !treeControl.isExpanded(node)
              }"
            >
              {{ treeControl.isExpanded(node) ? 'remove' : 'add' }}
            </mat-icon>
          </button>
          <syn-asset-tree-element
            [asset]="node"
            [hideParentChange]="hideParentChange"
            (view)="onAssetView(node)"
            (action)="onAction($event)"
            class="asset-element"
            [variant]="variant"
          ></syn-asset-tree-element>
        </div>
        <div class="asset-tree-node-children">
          <div class="tree-node-content" *ngIf="treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
          </div>
        </div>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>
