@import 'variables';

.asset-tree-wrapper {
  margin-left: 20px;
  @media (max-width: 768px) {
    margin-left: -15px;
  }
}

.toggle-btn {
  border-radius: 50%;
  display: inline;
  position: relative;
  z-index: 4;

  &.closed-toggle-btn {
    background-color: $background-grey;
    color: $secondary;
  }

  &.open-toggle-btn {
    color: $background-grey;
    background-color: $secondary;
  }
}

.top-btn {
  background: transparent;
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.asset-tree-node-children {
  padding-left: 30px;
  z-index: 0;
}

.asset-tree-node {
  align-items: center;
  display: flex;
  justify-content: stretch;
  padding: 0;
}

.mat-nested-tree-node {
  top: -50px;
}

.asset-tree-container.with-children {
  border-bottom: 0;
}

.asset-tree-node-children {
  padding-left: 30px;
  position: relative;
  z-index: 0;
}

.asset-tree-container {
  padding-left: 30px;
  border: solid $secondary;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -39px;
  pointer-events: none;
  > .tree-node-content {
    pointer-events: all;
  }
  &.no-children {
    &:not(.top-level) {
      padding-left: 70px;
    }
    &.factory {
      padding-left: 20px;
      margin-left: 48px;
    }
  }
  &.factory:not(.no-children) {
    border: none;
  }
  &.factory,
  .top-level {
    > .asset-tree-node-children {
      border-top: none;
    }
  }
}

.cdk-nested-tree-node:last-child .cdk-nested-tree-node:last-child .asset-tree-node-children {
  margin-left: -31px;
  border-left: 1px solid $background;
}

.asset-tree-container.asset-tree-node,
.asset-tree-container .tree-node-content {
  margin: 0;
  position: relative;
  top: 45px;
}

.asset-tree-container .asset-tree-node-children {
  border-top: 1px solid $secondary;
  margin-left: -30px;
  padding-left: 48px;
}

.cdk-tree {
  > .cdk-nested-tree-node:first-of-type {
    > .asset-tree-container {
      border-left: none;
    }
    > .asset-tree-node-children {
      border-left: 1px solid $secondary;
    }
  }
  &.page {
    syn-asset-tree-element:before {
      background: $background;
    }
  }

  &.modal {
    syn-asset-tree-element:before {
      background: $modal-background;
    }
  }
}

syn-asset-tree-element {
  flex: 1;
  z-index: 1;
  position: relative;
  &:before {
    content: ' ';
    height: 10px;
    position: absolute;
    top: 34px;
    left: -10px;
    width: 10px;
    background: $background;
    z-index: 3;
  }
}

.tree-node-content {
  padding: 6px 0;
}
