<form class="form-body" [id]="formId" [formGroup]="form" (ngSubmit)="onSubmit()">
  <syn-form-control
    [title]="'DOCUMENT.INFO.FILE' | translate"
    name="file"
    [control]="getControl('file')"
  >
    <div class="file-input">
      <label
        class="text-field"
        for="file-uploader"
        [ngClass]="{ active: file, danger: hasError('file') }"
        (click)="getControl('file').markAllAsTouched()"
      >
        {{ fileName | translate }}
      </label>
      <input synFileUpload id="file-uploader" type="file" formControlName="file" />
      <div class="reset" (click)="getControl('file').reset()" *ngIf="file">
        <mat-icon class="mat-icon">cancel</mat-icon>
      </div>
    </div>
  </syn-form-control>
  <syn-form-control [title]="'MAPPING.TYPE' | translate" name="type" [control]="getControl('type')">
    <mat-select
      [placeholder]="'MAPPING.FORM.SELECT_TYPE' | translate"
      formControlName="type"
      [class.danger]="hasError('type')"
    >
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.label | translate }}
      </mat-option>
    </mat-select>
  </syn-form-control>
</form>
