@import 'mixins';

.form-body {
  .file-input {
    position: relative;
    .text-field {
      align-items: center;
      display: flex;
      cursor: pointer;
      background: $input-background;
      color: rgba($color: $input-text, $alpha: 0.6);
      font-weight: 300;
      text-align: start;
      vertical-align: center;
      justify-content: flex-start;
      height: 36px;

      &.active {
        color: $input-text;
      }

      &.danger {
        background: $background-danger;
        color: $danger;
      }
    }

    input {
      display: none;
      width: 100%;
    }

    .reset {
      @include reset();
    }
  }
}

.text-field {
  @include text-field();
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  box-sizing: border-box;
  width: 100%;
}
