<div class="table-bg link-items">
  <table matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!--
        <mat-checkbox
          (change)="showOnlySelected($event)"
          [checked]="selection.hasValue() && isOnlySelected()"
        >
        </mat-checkbox>
      --></th>
      <td mat-cell *matCellDef="let task">
        <mat-checkbox
          class="tag-item"
          color="secondary"
          [checked]="selection.isSelected(task.id)"
          (change)="onSelectionChange(task)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        <b>{{ 'TASK.NAME' | translate }}</b>
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ task.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="machineTypes">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.MACHINE_TYPES' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ task.machineTypes | hideMore: 2 | truncateText: 22 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="assignedAsset">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.LINKED_ASSETS' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>
          {{ getAssetName(task.assignedAsset) | async | truncateText: 22 }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="classification">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'CLASSIFICATION.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ getClassificationLabel(task.classification) | translate }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns$ | async"></tr>
    <tr mat-row *matRowDef="let task; columns: visibleColumns$ | async"></tr>
  </table>

  <div *ngIf="isEmpty" class="no-items-message">
    <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
  </div>
  <mat-paginator
    [disabled]="isOnlySelected()"
    [length]="dataSource.pageResMeta.total"
    [pageSize]="dataSource.pageParams.limit"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
