@import 'mixins';

.user-list {
  @include base-table($with-hover: true);
  height: 62vh;
  overflow: scroll;
  .mat-column-title {
    @include title-column();
  }

  .mat-column-avatar {
    width: 48px;
    padding: 0 22px;
  }

  .avatar {
    margin: 4px;
  }
}
.table-header-background {
  background: $modal-background;
}
