<div class="user-list">
  <table matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <div class="avatar">
          <syn-avatar
            [imageData]="getImage(user)"
            [placeholder]="placeholder"
            [highlighted]="me?.id === user.id"
            alt="Avatar"
            size="36px"
          ></syn-avatar>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'name' }"
      >
        {{ 'USER.INFO.NAME' | translate | truncateText: 22 }}
      </th>
      <td mat-cell *matCellDef="let user">
        <span>
          {{ user.name }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'USER.INFO.ROLE' | translate | truncateText: 22 }}
      </th>
      <td mat-cell *matCellDef="let user">
        <span>
          {{ getRole(user) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
        <syn-table-actions
          [label]="'COMMON.LABEL.OPTIONS' | translate"
          [menuActions]="getTableActions(user)"
          (actionSelected)="onActionClick($event, user)"
        ></syn-table-actions>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="visibleColumns$ | async; sticky: true"
      class="table-header-background"
    ></tr>
    <tr
      mat-row
      synClickActive
      *matRowDef="let user; columns: visibleColumns$ | async"
      (click)="onUserView(user)"
    ></tr>
  </table>

  <div *ngIf="loading$ | async" class="table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div *ngIf="isEmpty" class="no-items-message">
    <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
  </div>
  <mat-paginator
    [length]="dataSource.pageResMeta.total"
    [pageSize]="dataSource.pageParams.limit"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
