<div class="form-card">
  <form [formGroup]="form" [id]="formId" (ngSubmit)="onSubmit()" class="content">
    <syn-form-control
      name="name"
      [title]="('ASSET.FORM.NAME' | translate) + '*'"
      [control]="getControl('name')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('name')"
        type="text"
        formControlName="name"
      />
    </syn-form-control>
    <!--    spacer    -->
    <div></div>
    <syn-form-control
      name="postalCode"
      [title]="'COMMON.LABEL.POSTAL_CODE' | translate"
      [control]="getControl('postalCode')"
    >
      <input
        class="text-field value"
        [class.danger]="hasError('postalCode')"
        type="text"
        formControlName="postalCode"
      />
    </syn-form-control>
    <syn-form-control
      name="position"
      [title]="'ASSET.FORM.PRECEDING_ASSET' | translate"
      [control]="getControl('position')"
    >
      <mat-select
        class="item-name dropdown"
        [class.danger]="hasError('position')"
        formControlName="position"
      >
        <mat-option [value]="1">-- {{ 'COMMON.NUMERIC.FIRST' | translate }} --</mat-option>
        <mat-option *ngFor="let sibling of siblings$ | async" [value]="sibling.position + 1">
          {{ sibling.name }}
        </mat-option>
      </mat-select>
    </syn-form-control>
  </form>
</div>
