@import 'mixins';

.header {
  @include sub-modal-header();
}

.link-items {
  @include base-table();
  overflow-y: auto;
  max-width: 70vw;

  .mat-column-title {
    @include title-column();
  }

  .mat-table {
    border-radius: 0;
    th {
      font-weight: 400;
    }
    td {
      border: 0;
    }
  }
}
