<ng-template #navbarActionsView>
  <div class="page-actions">
    <button
      *synAcl="{ aclResources: ['Instruction'], aclRight: 'Create' }"
      synButton
      color="secondary"
      mode="strong"
      (click)="onNewInstruction()"
    >
      {{ 'WORK_INSTRUCTION.ACTION.NEW' | translate }}
    </button>
  </div>
</ng-template>

<syn-work-instruction-list mode="all"></syn-work-instruction-list>
