@import 'variables';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $background;
}

.login-card {
  background: $modal-background;
  border-radius: 20px;
  padding: 35px 70px;
  width: 400px;
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .form-control {
    border: 0;
    padding: 8px 18px;
    font-size: 17px;
    border-radius: 45px;
    background: $background;
    height: 40px;
    width: 66%;
    outline: none;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: $placeholder-background;
      font-size: 17px;
    }
    + .form-control {
      margin-top: 25px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .login-submit {
    background: rgba($primary, 0.1);
    border-radius: 35px;
    color: $modal-background;
    margin-top: 30px;
    outline: none;
    border: 0;
    padding: 16px 22px;
    cursor: pointer;
    font-size: 20px;

    &:not([disabled]) {
      background: $primary;
      &:hover {
        background: darken($primary, 10);
      }
      &:active {
        background: darken($primary, 18);
      }
    }
  }
  .login-card__header {
    text-align: center;
    color: $secondary-light;
    font-size: 36px;
  }

  @media (max-width: 768px) {
    padding: 35px;
  }
}

.error {
  color: $danger;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 340px;
  @media (max-width: 1279px) {
    width: 200px;
  }
}
