<div class="login-page">
  <a routerLink="/">
    <img src="../../../assets/logo.png" class="logo" />
  </a>
  <div class="login-card">
    <h2 class="login-card__header">{{ 'COMMON.ACTION.LOGIN' | translate }}</h2>
    <form id="login-form" class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input
        type="text"
        class="form-control"
        [placeholder]="'USER.FORM.USERNAME' | translate"
        formControlName="username"
        id="username"
      />
      <input
        type="password"
        class="form-control"
        [placeholder]="'USER.FORM.PASSWORD' | translate"
        formControlName="password"
        id="password"
      />
      <button
        [disabled]="disabled$ | async"
        form="login-form"
        type="submit"
        class="login-submit"
        [class.disabled]="disabled$ | async"
      >
        {{ 'COMMON.ACTION.LOGIN' | translate }}
      </button>
    </form>
  </div>
</div>
