@import 'mixins';

button {
  border: 0;
  background-color: $machine-button-background;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;

  span {
    @include status();
    margin-right: 7px;
  }
}
