@import 'variables';

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .label {
    color: $input-text;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 9px;

    &.disabled {
      color: $background-grey;
    }
    .optional {
      color: $text-disabled;
      font-weight: 300;
      margin-left: 5px;
    }
  }

  + .form-control {
    margin-top: 22px;
  }

  .error-container {
    margin-top: 4px;
    min-height: 14px;
  }

  .error-message {
    font-size: 12px;
    color: $danger;
  }
}
