<div class="form-control">
  <label *ngIf="title" [for]="name" class="label" [class.disabled]="control.disabled">
    {{ title || '&nbsp;' }}
    <span class="optional" *ngIf="optional"
      >({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span
    ></label
  >
  <ng-content></ng-content>
  <div *ngIf="!hideErrors" class="error-container">
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
    <div
      *ngIf="!error && control.invalid && (control.dirty || control.touched)"
      class="error-message"
    >
      <div *ngIf="control.errors?.required">
        {{ 'COMMON.FORM.VALIDATION_ERROR.INPUT_REQUIRED' | translate }}
      </div>
      <div *ngIf="control.errors?.minlength">
        {{ 'COMMON.FORM.VALIDATION_ERROR.MIN_LENGTH' | translate: control.errors?.minlength }}
      </div>
      <div *ngIf="control.errors?.maxlength">
        {{ 'COMMON.FORM.VALIDATION_ERROR.MAX_LENGTH' | translate: control.errors?.maxlength }}
      </div>
      <div *ngIf="control.errors?.min">
        {{ 'COMMON.FORM.VALIDATION_ERROR.MIN' | translate: control.errors?.min }}
      </div>
      <div *ngIf="control.errors?.max">
        {{ 'COMMON.FORM.VALIDATION_ERROR.MAX' | translate: control.errors?.max }}
      </div>
      <div *ngIf="control.errors?.email">
        {{ 'COMMON.FORM.VALIDATION_ERROR.EMAIL' | translate }}
      </div>
      <div *ngIf="control.errors?.username">
        {{ 'COMMON.FORM.VALIDATION_ERROR.USERNAME' | translate }}
      </div>
      <div *ngIf="control.errors?.fileSize">
        {{ 'COMMON.FORM.VALIDATION_ERROR.FILE_SIZE' | translate }}
      </div>
      <div *ngIf="control.errors?.fileType">
        {{ 'COMMON.FORM.VALIDATION_ERROR.FILE_TYPE' | translate }}
      </div>
      <div *ngIf="control.errors?.fileProcessing">
        {{ 'COMMON.FORM.VALIDATION_ERROR.FILE_PROCESSING' | translate }}
      </div>
      <div *ngIf="control.errors?.imageType">
        {{ 'COMMON.FORM.VALIDATION_ERROR.IMAGE_TYPE' | translate }}
      </div>
      <div *ngIf="control.errors?.duplicate">
        {{ 'COMMON.FORM.VALIDATION_ERROR.DUPLICATE' | translate: control.errors?.duplicate }}
      </div>
    </div>
  </div>
</div>
