@import 'mixins';

.licenses {
  @include modal-form();
  width: auto;
  position: relative;
}

.package-license {
  display: flex;
  justify-content: space-between;
  .logo {
    width: 200px;
  }
}

.packages-tabs {
  @include base-tabs();
  padding: 10px;
}

.header {
  position: sticky;
}
