<div class="licenses">
  <div class="header">
    <button tabindex="-1" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <img src="../../../assets/logo.png" class="logo" />
  </div>
  <h3>{{ 'MISC.LABEL.LICENSES' | translate }}</h3>
  <div class="body">
    <mat-tab-group class="packages-tabs">
      <mat-tab label="Frontend">
        <div class="package-license" *ngFor="let pkg of frontendPackages | keyvalue">
          {{ pkg.key }}<span>{{ pkg.value.licenses }}</span>
        </div>
      </mat-tab>
      <mat-tab label="Backend Service">
        <div class="package-license" *ngFor="let pkg of backendPackages | keyvalue">
          {{ pkg.key }}<span>{{ pkg.value.licenses }}</span>
        </div>
      </mat-tab>
      <mat-tab label="ACL Service">
        <div class="package-license" *ngFor="let pkg of aclServicePackages | keyvalue">
          {{ pkg.key }}<span>{{ pkg.value.licenses }}</span>
        </div>
      </mat-tab>
      <mat-tab label="File Service">
        <div class="package-license" *ngFor="let pkg of fileServicePackages | keyvalue">
          {{ pkg.key }}<span>{{ pkg.value.licenses }}</span>
        </div>
      </mat-tab>
      <mat-tab label="Datapoint Service">
        <div class="package-license" *ngFor="let pkg of datapointServicePackages | keyvalue">
          {{ pkg.key }}<span>{{ pkg.value.licenses }}</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
