<div class="row">
  <span class="field-label">{{ 'USER.INFO.USERNAME' | translate | truncateText: 20 }}</span>
  <span class="value-field">{{ user.name | truncateText: 32 }}</span>
</div>
<div class="row">
  <span class="field-label">{{ 'USER.INFO.ROLE' | translate | truncateText: 32 }}</span>
  <span *ngIf="roles$ | async as roles; else empty" class="value-field">
    {{ roles }}
  </span>
</div>
<ng-template #empty>-</ng-template>
