@import 'variables';

.carousel {
  display: flex;
  .line-card {
    flex: 0 1 310px;
    margin: 22px 22px;
    syn-asset-card {
      width: 310px;
      height: 150px;
    }
  }
  .line-no-children {
    width: 100%;
    syn-asset-card {
      width: 100%;
    }
  }
  .related-machines {
    display: flex;
    overflow-y: auto;
    align-items: flex-end;
    .machine-card {
      margin: 22px 13px;
      syn-asset-card {
        width: 219px;
        height: 95px;
      }
    }
  }
}
