<div *ngIf="lines$ | async as lines">
  <div *ngFor="let line of lines">
    <div class="carousel">
      <div class="line-card" [class.line-no-children]="line.children.length < 1">
        <syn-asset-card
          class="big-card"
          [asset]="line"
          [placeholder]="'../../../assets/imgs/line-default.png'"
          (click)="toLineDetailPage(line)"
        ></syn-asset-card>
      </div>
      <div class="related-machines">
        <div class="machine-card" *ngFor="let machine of line.children">
          <syn-asset-card [asset]="machine" (click)="toMachineDetailPage(machine)"></syn-asset-card>
        </div>
      </div>
    </div>
  </div>
</div>
