<mat-tab-group
  mat-stretch-tabs
  [(selectedIndex)]="currentTab"
  (selectedTabChange)="onTabChange($event)"
  class="tab-group assign-entity-tabs"
>
  <mat-tab [label]="'COMMON.LABEL.ADD_NEW' | translate">
    <syn-work-instruction-form
      #workInstructionForm
      formId="link-wi-form"
      (created)="onCreate($event)"
      (valid)="disabled = !$event"
      (openAssignment)="openAssignment.emit($event)"
    ></syn-work-instruction-form>
  </mat-tab>
  <mat-tab [label]="'COMMON.ACTION.BROWSE_EXISTING' | translate">
    <div class="table-bg link-items">
      <table matSort mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <!--
            <mat-checkbox
              (change)="showOnlySelected($event)"
              [checked]="selection.hasValue() && isOnlySelected()"
            >
            </mat-checkbox>
          --></th>
          <td mat-cell *matCellDef="let instruction">
            <mat-checkbox
              class="tag-item"
              color="secondary"
              [checked]="selection.isSelected(instruction.id)"
              (change)="onSelectionChange(instruction)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            <b>{{ 'WORK_INSTRUCTION.NAME' | translate }}</b>
          </th>
          <td mat-cell *matCellDef="let instruction">
            <span>{{ instruction.title }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="machineTypes">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'SHARED.RELATION.MACHINE_TYPES' | translate }}
          </th>
          <td mat-cell *matCellDef="let instruction">
            <span>
              {{ instruction.machineTypes | hideMore: 2 | truncateText: 22 }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="classification">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            {{ 'CLASSIFICATION.NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let instruction">
            <span>{{ getClassificationLabel(instruction.classification) | translate }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visibleColumns$ | async"></tr>
        <tr mat-row *matRowDef="let instruction; columns: visibleColumns$ | async"></tr>
      </table>

      <div *ngIf="isEmpty" class="no-items-message">
        <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
      </div>
      <mat-paginator
        [disabled]="isOnlySelected()"
        [length]="dataSource.pageResMeta.total"
        [pageSize]="dataSource.pageParams.limit"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
