<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="asset-select-tree-node">
    <div
      class="item clickable"
      (click)="onSelectItem($event, node)"
      [class.disabled]="node.disabled"
      [class.selected]="isSelected(node) && !multiple"
      [class.with-check]="multiple && !node.disabled"
    >
      <div class="tree-node-info" [class.factory-node]="node.type === assetTypes.FACTORY">
        <mat-checkbox
          class="check"
          color="secondary"
          [checked]="isSelected(node)"
          *ngIf="multiple && !node.disabled"
          [disableRipple]="true"
        >
        </mat-checkbox>
        <ng-container *ngTemplateOutlet="node.disabled ? nonClickable : clickable"> </ng-container>
        <ng-template #clickable>
          <span>{{ node.name | truncateText: 20 }}</span>
          <span
            *ngIf="node.type === assetTypes.FACTORY && getChildrenCount(node) > 0"
            class="children-count"
            >({{ getChildrenCount(node) }})</span
          >
        </ng-template>
        <ng-template #nonClickable>
          <span cdkTreeNodeToggle>{{ node.name | truncateText: 20 }}</span>
          <span
            *ngIf="node.type === assetTypes.FACTORY && getChildrenCount(node) > 0"
            class="children-count"
            >({{ getChildrenCount(node) }})</span
          >
        </ng-template>
      </div>
      <button
        *ngIf="!!node.children && node.children.length > 0 && !disableCollapse; else disButton"
        [disableRipple]="true"
        mat-icon-button
        [attr.aria-label]="'toggle ' + node.name"
        class="toggle"
        cdkTreeNodeToggle
      >
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
      </button>
      <ng-template #disButton>
        <button mat-icon-button disabled></button>
      </ng-template>
    </div>
    <div [class.asset-select-tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>
