@import 'variables';

.asset-select-tree-invisible {
  display: none;
}

.asset-select-tree-node {
  display: block;
  .tree-node-info {
    display: flex;
    &.factory-node {
      font-weight: bold;
    }
  }
}

.asset-select-tree-node .asset-select-tree-node {
  > .item > .tree-node-info {
    margin-left: 15px;
    &.with-check {
      margin-left: 5px;
    }
  }
  .asset-select-tree-node {
    > .item > .tree-node-info {
      margin-left: 30px;
      &.with-check {
        margin-left: 10px;
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0px 3px 10px;
  font-size: 12px;
  line-height: 15px;
  max-height: 34px;
  .toggle {
    position: sticky;
    right: 0;
  }
  .check {
    pointer-events: none;
    margin-right: 5px;
  }
}

.selected {
  background: $selected-background;
}

.disabled {
  span {
    color: rgba($color: $secondary, $alpha: 0.4);
  }
}

.children-count {
  margin-left: 4px;
}
