@import 'mixins';

.title-input {
  width: 92%;
}

.date-input {
  margin: auto 4px;
  -webkit-appearance: none;
  background-color: $date-input-background;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 10px;
  min-width: 170px !important;
}

.select-input {
  display: inline-flex;
  align-items: center;
  .dropdown {
    width: 100%;
  }
}

.square-field {
  border-radius: 10px !important;
  min-height: 36px;
}

.countdown-field {
  font-size: 16px;
  padding: 10px 20px 10px 16px;
  border: none;
  text-align: end;
  background: $input-background;
  color: $input-text;
  width: 88px;
  box-sizing: border-box;
  margin: 0 8px 0 auto;

  &[disabled] {
    background: $input-background-disabled;
  }

  &.danger {
    background: $background-danger;
  }
}

.unit-field {
  max-width: 120px;
  box-sizing: border-box;
}

.countdown-control,
.interval-control {
  display: flex;
  flex-direction: column;
}

.countdown-control {
  display: contents;
  flex: 1;
  .label {
    text-align: right;
    margin-right: 29px !important;
  }
}

.interval-control {
  flex: 4;
}

.calendar-date-control {
  flex: 1;
  .calendar-date-field {
    width: 125px !important;
    min-width: 125px !important;
  }
}

.calendar-time-control {
  flex: 2;
  .calendar-time-field {
    width: 80px !important;
    min-width: 80px !important;
  }
}

.trigger-fields,
.repeat-interval-control {
  margin: -20px 0 0 20px;
}

.repeat-interval-field {
  width: 100px !important;
}

.task-field {
  @include regular-text();
}
