<form [formGroup]="form" [id]="formId" (ngSubmit)="onSubmit()" class="form-body">
  <syn-form-control
    name="title"
    [title]="('COMMON.LABEL.TITLE' | translate) + '*'"
    [control]="getControl('title')"
  >
    <input
      class="text-field title-input"
      [class.danger]="hasError('title')"
      [placeholder]="'COMMON.LABEL.TITLE' | translate"
      formControlName="title"
    />
  </syn-form-control>

  <syn-form-control
    name="classification"
    [title]="('CLASSIFICATION.NAME' | translate) + '*'"
    [control]="getControl('classification')"
  >
    <mat-select
      [placeholder]="'CLASSIFICATION.SELECT' | translate"
      formControlName="classification"
      [class.danger]="hasError('classification')"
    >
      <mat-option *ngFor="let item of classifications" class="task-field" [value]="item.value">
        {{ item.label | translate }}
      </mat-option>
    </mat-select>
  </syn-form-control>

  <syn-form-control
    name="assignedAsset"
    [title]="'ASSET.NAME' | translate"
    [control]="getControl('assignedAsset')"
    optional="true"
  >
    <div class="select-input">
      <syn-asset-select
        class="dropdown"
        formControlName="assignedAsset"
        [error]="hasError('assignedAsset')"
        [disableShadow]="true"
        [assets]="assetTrees$ | async"
        [placeholder]="'ASSET.SELECT' | translate"
        [selected]="asset$ | async"
        (selectedChange)="setSelectedAsset($event)"
      ></syn-asset-select>
      <button
        mat-button
        mat-icon-button
        aria-label="Clear"
        *ngIf="assignedAsset"
        (click)="resetSelectedAsset()"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </syn-form-control>
  <syn-form-control
    name="triggerType"
    [title]="('TASK.INFO.TRIGGER' | translate) + '*'"
    [control]="getControl('triggerType')"
  >
    <mat-select
      [placeholder]="'TASK.FORM.SELECT_TRIGGER_TYPE' | translate"
      formControlName="triggerType"
      [class.danger]="hasError('triggerType')"
    >
      <mat-option *ngFor="let trigger of triggers" class="task-field" [value]="trigger.value">
        {{ trigger.label | translate }}
      </mat-option>
    </mat-select>
  </syn-form-control>

  <ng-container *ngIf="triggerType$ | async as triggerType">
    <div *ngIf="triggerType === triggerTypes.COUNTDOWN" class="inline-fields trigger-fields">
      <div class="countdown-control">
        <syn-form-control
          name="countdownHours"
          [title]="'COMMON.LABEL.INTERVAL' | translate"
          [control]="getControl('countdownHours')"
          [error]="
            hasTriggerError('countdownHours')
              ? ('COMMON.FORM.VALIDATION_ERROR.INPUT_REQUIRED' | translate)
              : null
          "
        >
          <input
            type="number"
            min="1"
            class="countdown-field square-field task-field"
            [class.danger]="hasTriggerError('countdownHours')"
            formControlName="countdownHours"
          />
        </syn-form-control>
      </div>

      <div class="interval-control">
        <syn-form-control
          name="interval"
          [title]="'COMMON.LABEL.UNIT' | translate"
          [control]="getControl('unitIntervals')"
          [error]="
            hasTriggerError('unitIntervals')
              ? ('COMMON.FORM.VALIDATION_ERROR.INPUT_REQUIRED' | translate)
              : null
          "
        >
          <mat-select
            formControlName="unitIntervals"
            class="unit-field square-field"
            [class.danger]="hasTriggerError('unitIntervals')"
          >
            <mat-option
              *ngFor="let interval of intervals"
              class="task-field"
              [value]="interval.value"
            >
              {{ interval.label | translate }}
            </mat-option>
          </mat-select>
        </syn-form-control>
      </div>
    </div>

    <ng-container *ngIf="triggerType === triggerTypes.CALENDAR">
      <div class="inline-fields trigger-fields">
        <div class="calendar-date-control">
          <syn-form-control
            name="calendarDate"
            [title]="'COMMON.LABEL.DATE' | translate"
            [control]="getControl('calendarDate')"
            [error]="
              hasTriggerError('calendarDate')
                ? ('COMMON.FORM.VALIDATION_ERROR.INPUT_REQUIRED' | translate)
                : null
            "
          >
            <ng-container *ngIf="isDesktop; else mobileDatepicker">
              <input
                [owlDateTime]="dtCalendar"
                [owlDateTimeTrigger]="dtCalendar"
                class="text-field calendar-date-field date-input square-field"
                formControlName="calendarDate"
                [class.danger]="hasTriggerError('calendarDate')"
              />
              <owl-date-time
                #dtCalendar
                pickerType="calendar"
                [scrollStrategy]="dtCalendar.overlay.scrollStrategies.reposition()"
              ></owl-date-time>
            </ng-container>
            <ng-template #mobileDatepicker>
              <input
                type="date"
                class="text-field calendar-date-field date-input square-field"
                formControlName="calendarDate"
                [class.danger]="hasTriggerError('calendarDate')"
              />
            </ng-template>
          </syn-form-control>
        </div>

        <div class="calendar-time-control">
          <syn-form-control
            name="calendarTime"
            [title]="'COMMON.LABEL.TIME' | translate"
            [control]="getControl('calendarTime')"
            [error]="
              hasTriggerError('calendarTime')
                ? ('COMMON.FORM.VALIDATION_ERROR.INPUT_REQUIRED' | translate)
                : null
            "
          >
            <ng-container *ngIf="isDesktop; else mobileTimepicker">
              <input
                [owlDateTime]="dtTime"
                [owlDateTimeTrigger]="dtTime"
                class="text-field calendar-time-field square-field date-input"
                formControlName="calendarTime"
                [class.danger]="hasTriggerError('calendarTime')"
              />
              <owl-date-time
                #dtTime
                pickerType="timer"
                [scrollStrategy]="dtTime.overlay.scrollStrategies.reposition()"
              ></owl-date-time>
            </ng-container>
            <ng-template #mobileTimepicker>
              <input
                type="time"
                class="text-field calendar-time-field square-field date-input"
                formControlName="calendarTime"
                [class.danger]="hasTriggerError('calendarTime')"
              />
            </ng-template>
          </syn-form-control>
        </div>
      </div>
      <div class="repeat-interval-control">
        <syn-form-control
          [control]="getControl('repeatInterval')"
          name="repeatInterval"
          [title]="'TASK.FORM.REPEAT' | translate"
        >
          <mat-select class="repeat-interval-field" formControlName="repeatInterval">
            <mat-select-trigger *ngIf="getControl('repeatInterval').value">
              <span>{{ repeatIntervalLabel | translate }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let mode of repetitions" class="task-field" [value]="mode.value">
              {{ mode.label | translate }}
            </mat-option>
          </mat-select>
        </syn-form-control>
      </div>
    </ng-container>
  </ng-container>

  <mat-expansion-panel
    class="modal-expansion-options mat-elevation-z0"
    [@.disabled]="disableAnimation"
    [expanded]="expanded"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="more-options-title">
          {{ 'COMMON.LABEL.MORE_OPTIONS' | translate }}
          <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="modal-options">
      <span>
        {{ 'SHARED.RELATION.MACHINE_TYPE_TAGS' | translate }}
        <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
      </span>
      <span class="links-count" *ngIf="machineTypeTags && machineTypeTags.length">{{
        machineTypeTags.length
      }}</span>
      <button mat-icon-button (click)="onMachineTagsSwitch()" type="button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="modal-options">
      <span>
        {{ 'SHARED.RELATION.DOCUMENTS' | translate }}
        <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
      </span>
      <span class="links-count" *ngIf="docIds && docIds.length">{{ docIds.length }}</span>
      <button mat-icon-button (click)="onDocumentsSwitch()" type="button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="modal-options">
      <span>
        {{ 'SHARED.RELATION.WORK_INSTRUCTIONS' | translate }}
        <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
      </span>
      <span class="links-count" *ngIf="instructionIds && instructionIds.length">{{
        instructionIds.length
      }}</span>
      <button mat-icon-button (click)="onInstructionsSwitch()" type="button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</form>
