<div *ngIf="!hideFilter" class="filter-panel">
  <div class="search" [class.selected]="!!selectedFilters.title">
    <div class="reset" (click)="onSearch('')" *ngIf="selectedFilters.title?.length">
      <mat-icon class="mat-icon">cancel</mat-icon>
    </div>
    <input
      class="text-field"
      [placeholder]="'COMMON.LABEL.TITLE' | translate"
      synSearch
      searchDelay="250"
      (search)="onSearch($event)"
      [ngModel]="selectedFilters.title"
    />
    <mat-icon>search</mat-icon>
  </div>
  <syn-filter-select
    [multiple]="true"
    [placeholder]="'CLASSIFICATION.NAME' | translate"
    [options]="classifications"
    [(selected)]="selectedFilters.classification"
    (selectedChange)="applyFilter()"
  >
  </syn-filter-select>
  <syn-filter-select
    [multiple]="true"
    [placeholder]="'SHARED.RELATION.MACHINE_TYPES' | translate"
    [options]="machineTypesTagsOptions$ | async"
    [(selected)]="selectedFilters.machineTypes"
    (selectedChange)="applyFilter()"
  >
  </syn-filter-select>
  <syn-asset-select
    class="asset-filter-select"
    [placeholder]="'SHARED.RELATION.LINKED_ASSETS' | translate"
    [assets]="assetTrees$ | async"
    [multiple]="true"
    [isFilter]="true"
    [(selected)]="selectedFilters.refIds"
    (selectedChange)="applyFilter()"
  >
  </syn-asset-select>
</div>

<div class="work-instruction-list">
  <table matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'title' }"
      >
        {{ 'COMMON.LABEL.TITLE' | translate }}
      </th>
      <td mat-cell *matCellDef="let instruction" [ngStyle]="style">
        <span>
          {{ instruction.title }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="classification">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'classification' }"
      >
        {{ 'CLASSIFICATION.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let instruction">
        <span>
          {{ getClassificationLabel(instruction.classification) | translate }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="machineTypes">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.MACHINE_TYPES' | translate }}
      </th>
      <td mat-cell *matCellDef="let instruction">
        <span>{{ instruction.machineTypes | hideMore: 2 | truncateText: 22 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="links">
      <th mat-header-cell *matHeaderCellDef>{{ 'SHARED.RELATION.LINKED_ASSETS' | translate }}</th>
      <td mat-cell *matCellDef="let instruction">
        <span>
          {{ getLinkedAssets(instruction) | async | hideMore: 2 | truncateText: 22 }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'createdAt' }"
      >
        {{ 'COMMON.LABEL.CREATED_AT' | translate }}
      </th>
      <td mat-cell *matCellDef="let instruction">
        <span>
          {{ instruction.createdAt | date: 'dd.MM.yyyy | HH:mm' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let instruction" (click)="$event.stopPropagation()">
        <syn-table-actions
          [label]="'COMMON.LABEL.OPTIONS' | translate"
          [menuActions]="actions"
          (actionSelected)="onActionClick($event, instruction)"
        ></syn-table-actions>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="visibleColumns$ | async; sticky: true"
      class="table-header-background"
    ></tr>
    <tr
      mat-row
      synClickActive
      *matRowDef="let instruction; columns: visibleColumns$ | async"
      (click)="openInstruction(instruction)"
    ></tr>
  </table>

  <div *ngIf="loading$ | async" class="table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div *ngIf="isEmpty" class="no-items-message">
    <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
  </div>
  <mat-paginator
    [length]="dataSource.pageResMeta.total"
    [pageSize]="dataSource.pageParams.limit"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
