@import 'mixins';

.work-instruction-list {
  @include base-table($with-hover: true);
  height: 62vh;
  overflow: scroll;
  .mat-column-title {
    @include title-column();
  }
}

.filter-panel {
  @include table-filter-panel();
}

.table-header-background {
  background: $modal-background;
}
syn-filter-select + syn-filter-select,
syn-filter-select + syn-asset-select {
  margin-left: 10px;
}

syn-asset-select {
  font-weight: 300;
}
