@import 'mixins';

.task-list {
  height: 62vh;
  overflow: scroll;
  @include base-table($with-hover: true);
  .mat-column-actions,
  .mat-column-attachments {
    width: 40px;
  }

  .mat-column-status {
    width: 40px;
    @media (max-width: 1279px) {
      width: 20px;
    }
    .state {
      @include status();
    }
  }
}

.change-task-state-btn {
  margin: 6px 0;
  font-size: 14px;
  @media (max-width: 1279px) {
    padding: 10px 12px;
  }
}

.btn-column {
  display: flex;
  justify-content: center;
}

.text-danger {
  color: $danger;
}
.table-header-background {
  background: $modal-background;
}
.attachments {
  display: flex;
  font-size: 14px;
  align-items: center;

  .icon {
    font-size: 18px;
  }
  .text-label {
    min-width: unset;
  }
}

.filter-panel {
  @include table-filter-panel();
}

syn-filter-select + syn-filter-select,
syn-filter-select + syn-asset-select {
  margin-left: 10px;
}

syn-asset-select {
  font-weight: 300;
}
