<div *ngIf="!hideFilter" class="filter-panel">
  <div class="search" [class.selected]="!!selectedFilters.title">
    <div class="reset" (click)="onSearch('')" *ngIf="selectedFilters.title?.length">
      <mat-icon class="mat-icon">cancel</mat-icon>
    </div>
    <input
      class="text-field"
      [placeholder]="'COMMON.LABEL.TITLE' | translate"
      synSearch
      searchDelay="250"
      (search)="onSearch($event)"
      [ngModel]="selectedFilters.title"
    />
    <mat-icon>search</mat-icon>
  </div>
  <syn-filter-select
    [multiple]="true"
    [placeholder]="'CLASSIFICATION.NAME' | translate"
    [options]="classifications"
    [(selected)]="selectedFilters.classification"
    (selectedChange)="applyFilter()"
  >
  </syn-filter-select>
  <syn-filter-select
    [multiple]="true"
    [placeholder]="'SHARED.RELATION.MACHINE_TYPES' | translate"
    [options]="machineTypesTagsOptions$ | async"
    [(selected)]="selectedFilters.machineTypes"
    (selectedChange)="applyFilter()"
  >
  </syn-filter-select>
  <syn-asset-select
    class="asset-filter-select"
    [placeholder]="'SHARED.SEARCH.FILTER.LINKED_ASSETS' | translate"
    [assets]="assetTrees$ | async"
    [multiple]="true"
    [isFilter]="true"
    [(selected)]="selectedFilters.assignedAsset"
    (selectedChange)="applyFilter()"
  >
  </syn-asset-select>
</div>

<div class="table-bg task-list">
  <table matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task">
        <span
          *ngIf="task.status !== taskStatus.DONE"
          [class]="'state ' + getState(task).toLowerCase()"
        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'title' }"
      >
        {{ 'COMMON.LABEL.TITLE' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ task.title | truncateText: 22 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="classification">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'classification' }"
      >
        {{ 'CLASSIFICATION.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ getClassificationLabel(task.classification) | translate }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="machineTypes">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.MACHINE_TYPES' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ task.machineTypes | hideMore: 2 | truncateText: 22 }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="assetName">
      <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
        {{ 'SHARED.RELATION.LINKED_ASSET' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>{{ task.assetName | truncateText: 22 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'dueDate' }"
      >
        {{ 'TASK.INFO.DUE_DATE' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span>
          <ng-container *ngIf="task.status !== taskStatus.INACTIVE && task.dueDate">
            {{ task.dueDate | date: 'dd.MM.yyyy | HH:mm' }}
          </ng-container>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeLag">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [ngClass]="{ 'table-title-active': sort.active === 'timeLag' }"
      >
        {{ 'TASK.INFO.TIME_LAG' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span [class.text-danger]="isOverdue(task)">
          {{ displayTimeLag(task) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="remainingTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        {{ 'TASK.INFO.REMAINING_TIME' | translate }}
      </th>
      <td mat-cell *matCellDef="let task">
        <span class="text-label no-transform">{{ getRemainingTime(task) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="attachments">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task">
        <div *ngIf="getAttachmentCount(task) | async as count" class="attachments">
          <mat-icon class="icon">attach_file</mat-icon>
          <span>
            {{ count }}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="changeState">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task" class="btn-column">
        <ng-template
          [synAcl]="{
            aclResources: ['Task'],
            aclRight: task.status === taskStatus.ACTIVE ? 'Execute' : 'Update'
          }"
        >
          <button
            *ngIf="getState(task).toLowerCase() as state"
            synButton
            [mode]="state === 'running' ? 'strong' : 'weak'"
            [color]="state === 'faulted' ? 'danger' : 'primary'"
            class="change-task-state-btn"
          >
            {{ buttonText(task.status) | translate }}
          </button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task" (click)="$event.stopPropagation()">
        <syn-table-actions
          [label]="'COMMON.LABEL.OPTIONS' | translate"
          [menuActions]="actions"
          (actionSelected)="onActionClick($event, task)"
        ></syn-table-actions>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="visibleColumns$ | async; sticky: true"
      class="table-header-background"
    ></tr>
    <tr
      mat-row
      *matRowDef="let task; columns: visibleColumns$ | async"
      (click)="onViewTask(task)"
      synClickActive
    ></tr>
  </table>

  <div *ngIf="loading$ | async; else empty" class="table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <ng-template #empty>
    <div *ngIf="isEmpty" class="no-items-message">
      <b>{{ 'COMMON.SEARCH.NO_RESULTS' | translate }}</b>
    </div>
  </ng-template>

  <mat-paginator
    [length]="dataSource.pageResMeta.total"
    [pageSize]="dataSource.pageParams.limit"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
