@import 'assets/fonts';
@import 'mixins';
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';

#app-root {
  display: block;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Syntegon, Roboto, 'Helvetica Neue', sans-serif;
}

button {
  font-family: Syntegon, Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}

.cdk-global-scrollblock {
  overflow: auto;
}

.cdk-overlay-pane {
  max-height: 100vh;
}

.page-container {
  padding: 32px 32px calc(#{$footer-y-padding} + #{$footer-height} + 6px) 32px;
  padding-bottom: 70px;
}

.asset-page-container {
  .actions {
    margin-bottom: 10px;
  }
}

.card {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  background: white;
  padding: 36px;

  .title {
    color: $text-dark;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.card-container:not(.carousel) {
  display: flex;
  @media (min-width: 959px) {
    .card:not(:first-child) {
      margin-left: 16px;
    }
    .card:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (max-width: 960px) {
    flex-direction: column;
    .card:not(:first-child) {
      margin-top: 16px;
    }
    .card:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.error-list {
  background-color: white !important;
  color: $danger;

  button {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
.error-list-title {
  line-height: 30px;
}
.error-list-body {
  padding-top: 10px;
  padding-bottom: 50px;
}

.clickable:not(.disabled):not(.selected) {
  cursor: pointer;
  &:hover {
    background: #fafafa !important;
  }
}

.success-check {
  fill: $primary;
}

.mat-dialog-container {
  border-radius: 25px !important;
  overflow: hidden;
}
.notification {
  &.error {
    background: $danger;
    color: white;
  }

  &.success {
    background: $primary;
    color: white;
  }
}

.capitalize {
  text-transform: capitalize !important;
}

.no-transform {
  text-transform: none;
}

@media print {
  .qr-modal {
    max-width: 100vw !important;
    width: 100%;
    .mat-dialog-container {
      border-radius: 0;
      box-shadow: none;
    }
  }
}

[synButton] {
  display: flex;
  align-self: center;
  border-radius: 18px;
  padding: 8px 24px;
  border: none;
  width: fit-content;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 20px;
  cursor: pointer;
  margin: 0 12px;
  user-select: none;
  position: relative;
  overflow: hidden;

  &.syn-button-basic {
    background: transparent;
  }

  &:not([disabled]) {
    &.syn-button-weak {
      &.syn-color-primary {
        color: $primary;
        background: rgba($primary, 0.1);
        &:hover {
          background: rgba($primary, 0.2) !important;
        }
      }

      &.syn-color-secondary {
        color: $secondary;
        background: rgba($secondary, 0.1);
        &:hover {
          background: rgba($secondary, 0.2) !important;
        }
      }

      &.syn-color-danger {
        color: $danger;
        background: rgba($danger, 0.1);
        &:hover {
          background: rgba($danger, 0.2) !important;
        }
      }

      &.syn-color-pending {
        color: $pending;
        background: rgba($pending, 0.1);
        &:hover {
          background: rgba($pending, 0.2) !important;
        }
      }
    }

    &.syn-button-basic.syn-button-weak {
      &.syn-color-primary {
        color: $primary;
        &:hover {
          background: rgba($primary, 0.9) !important;
        }
      }

      &.syn-color-secondary {
        color: $secondary;
        &:hover {
          background: rgba($secondary, 0.9) !important;
        }
      }

      &.syn-color-danger {
        color: $danger;
        &:hover {
          background: rgba($danger, 0.9) !important;
        }
      }

      &.syn-color-pending {
        color: $pending;
        &:hover {
          background: rgba($pending, 0.9) !important;
        }
      }
    }

    &.syn-button-strong {
      color: white !important;
      &.syn-color-primary {
        background: $primary;
        &:hover {
          background: rgba($primary, 0.9) !important;
        }
      }

      &.syn-color-secondary {
        background: $secondary;
        &:hover {
          background: rgba($secondary, 0.9) !important;
        }
      }

      &.syn-color-danger {
        background: $danger;
        &:hover {
          background: rgba($danger, 0.9) !important;
        }
      }

      &.syn-color-pending {
        background: $pending;
        &:hover {
          background: rgba($pending, 0.9) !important;
        }
      }
    }
  }

  &[disabled] {
    color: $text-disabled;

    &.syn-button-strong.syn-button-weak {
      background: $background-weak;
    }
  }
}

.dark-backdrop {
  background: rgba(black, 0.45);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary;
}

.owl-dt-calendar-cell-in-range .owl-dt-calendar-cell-in-range {
  background: rgba($primary, 0.2);
}

.owl-dt-container-info {
  .owl-dt-container-info-active {
    color: $primary;
  }
}

.owl-dt-container-buttons,
.owl-dt-timer-hour12 {
  color: $primary;

  .owl-dt-timer-hour12-box {
    &:focus,
    &:hover {
      .owl-dt-control-button-content {
        background: $primary;
      }
    }
  }
}

.view-modal {
  .mat-dialog-container {
    padding: 25px 38px;
  }
}

.asset-detail-tabs.mat-tab-group.mat-primary,
.machine-metric-nav.mat-tab-group.mat-primary,
.assign-entity-tabs.mat-tab-group.mat-primary,
.sub-nav-bar.with-underline.mat-tab-group.mat-primary,
.mat-tab-nav-bar.mat-primary,
.packages-tabs.mat-tab-group.mat-primary {
  @include base-tabs();
}

.sub-nav-bar {
  .mat-tab-label-active {
    opacity: 1;
    font-weight: bold !important;
  }
  .mat-tab-header-pagination.mat-tab-header-pagination-after,
  .mat-tab-header-pagination.mat-tab-header-pagination-before {
    display: none;
  }
}

.asset-detail-tabs,
.assign-entity-tabs,
.packages-tabs {
  @include content-tabs();
}

.assign-entity-tabs {
  .mat-tab-header .mat-tab-label-container,
  .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
  .mat-tab-body-wrapper {
    padding-top: 15px;
  }
  .mat-tab-label-container {
    width: 70vw;
    margin: 0 auto;
  }
  .mat-tab-body-content {
    display: flex;
    justify-content: center;
  }
}

.sub-nav-bar:not(.with-underline) .mat-ink-bar {
  display: none;
}

.fullscreen-modal {
  width: 100vw;
  height: 100vh;
  max-width: 100% !important;
  .fullscreen-modal-body.syn-modal {
    height: 100%;
    width: 100%;
  }
}

.fullscreen-modal.edit-modal {
  .mat-dialog-container {
    background: $modal-background;
    .syn-modal > .header,
    .syn-modal > .actions {
      background: $modal-background;
    }
    .syn-modal,
    .header,
    .actions {
      background-color: inherit;
    }
    .syn-modal {
      display: flex;
      flex-direction: column;
      height: 100%;
      .modal-body {
        flex: 1;
      }
    }
  }
}

.confirm-modal {
  height: 250px;
  width: 450px;
}

.mat-checkbox-checked.mat-secondary .mat-checkbox-background {
  background-color: $secondary;
}

.mat-checkbox.mat-secondary .mat-checkbox-frame {
  border-color: $secondary;
}

.cdk-overlay-connected-position-bounding-box
  .cdk-overlay-pane
  .mat-select-panel-wrap
  .mat-select-panel {
  border-radius: 12px;
  background-color: $background-dark;
  mat-option:hover {
    background: #fafafa;
  }
  mat-option.mat-selected {
    background: $selected-background !important;
  }
}

.text-muted {
  color: $text-disabled;
}

.task-modal {
  .mat-dialog-container {
    background: #fff !important;
    .syn-modal > .header,
    .syn-modal > .actions {
      background: #fff !important;
    }
    .syn-modal .modal-body {
      display: flex;
      justify-content: center;
    }
  }
}

.modal-states-tabs {
  > .mat-tab-header {
    display: none;
  }
  > .mat-tab-body-wrapper {
    .mat-tab-body > .mat-tab-body-content {
      display: flex;
      justify-content: center;
    }
  }
}

.task-tags {
  display: flex;
  justify-content: center;
}

.expansion-no-content-padding {
  .mat-expansion-panel-body {
    padding: 0;
  }
}

.document-upload__progress-bar {
  border-radius: 8px;
  height: 30px !important;
  margin: 10px 0;
  .mat-progress-bar-buffer.mat-progress-bar-element {
    background-color: $loading-color;
  }
}

.table-loading {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #e8e8e8 !important;
  }
}
.sidebar-home-item {
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  margin: 15px;
  height: 24px;
  width: 24px;
  border: 6px solid $primary;
  box-sizing: border-box;
  border-radius: 0;
  background: $modal-background;
}
