<syn-modal-container
  [title]="
    asset && asset.name
      ? ('ASSET.UPDATE_MODAL_TITLE' | translate: asset)
      : ('ASSET.CREATE_MODAL_TITLE' | translate: { type: getAssetTypeLabel(type) | translate })
  "
  (cancel)="onClose()"
  [isFullscreen]="true"
  (keydown.escape)="onEscape($event)"
>
  <ng-container body>
    <syn-asset-form
      [asset]="asset"
      [type]="type"
      (exit)="onExit()"
      (valid)="valid$.next($event)"
      (changed)="changed = $event"
    ></syn-asset-form>
    <syn-asset-tree
      *ngIf="assetTrees$ | async as trees"
      [assetTrees]="trees"
      [hideParentChange]="true"
      (edit)="onClose($event)"
      variant="modal"
    ></syn-asset-tree>
  </ng-container>

  <ng-container actions>
    <ng-template [ngIf]="asset?.id && (deletable$ | async)">
      <button
        synButton
        color="danger"
        mode="weak"
        *synAcl="{ aclResources: ['Asset'], aclRight: 'Delete' }"
        (click)="onDelete()"
      >
        {{ 'ASSET.ACTION.DELETE' | translate }}
      </button>
    </ng-template>
    <button
      synButton
      mode="weak"
      color="primary"
      #submitBtn
      form="edit-asset-form"
      type="submit"
      class="single-action"
      [disabled]="disabled$ | async"
    >
      {{ 'COMMON.ACTION.SAVE' | translate }}
    </button>
  </ng-container>
</syn-modal-container>
