@import 'mixins';

.container {
  display: flex;
  justify-content: space-around;

  .header-container {
    align-self: end;
    margin-left: auto;
  }
}

.actions-menu {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  color: $text-dark;

  .header {
    display: flex;
    margin-left: auto;

    .label {
      align-items: center;
      display: flex;
      padding: 0 16px;
      font-size: 12px;
      font-weight: bold;
    }

    .actions-menu-btn {
      cursor: pointer;
      margin-left: auto;

      .placeholder {
        font-weight: 300;
        margin-left: 14px;
      }
    }
  }

  &.opened-menu {
    min-width: 120px;
    max-width: 130px;
    border-radius: 20px;
    background-color: $background-dark;
    box-shadow: 0px 12px 5px -3px grey;
  }
}

.filter-content {
  margin: 0;
}

.dropdown-menu {
  @include select-input-menu();
}

.dropdown-inverted {
  border-radius: 20px;
  box-shadow: unset;

  .dropdown-item {
    &:hover {
      background: $selected-background;
      &:first-child {
        border-radius: 20px 20px 0 0;
      }
      &:last-child {
        border-radius: 0;
      }
    }
  }
}
