<div *ngIf="actions.length > 0" class="container">
  <div class="header header-container" #dropdownContainer>
    <button
      mat-icon-button
      (click)="onOpenDropdown($event)"
      class="actions-menu-btn"
      [class.action-btn-opened]="isOpen"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<ng-template #dropdownTemplate>
  <div class="actions-menu" (clickOutside)="hideMenu()" [class.opened-menu]="isOpen">
    <ng-container *ngIf="facesDown">
      <ng-container *ngTemplateOutlet="trigger"></ng-container>
    </ng-container>
    <div #menu class="dropdown-menu" [class.dropdown-inverted]="!facesDown">
      <ng-container *ngFor="let action of actions">
        <div
          *ngIf="!action.acl; else withAcl"
          class="dropdown-item"
          (click)="onSelectAction(action)"
        >
          {{ action.label | translate }}
        </div>
        <ng-template #withAcl>
          <div class="dropdown-item" (click)="onSelectAction(action)">
            {{ action.label | translate }}
          </div>
        </ng-template>
      </ng-container>
    </div>
    <ng-container *ngIf="!facesDown">
      <ng-container *ngTemplateOutlet="trigger"></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #trigger>
  <div class="header">
    <span class="label">
      {{ label }}
    </span>
    <button mat-icon-button (click)="onOpenDropdown($event)" class="actions-menu-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</ng-template>
