<div class="dropdown" (clickOutside)="isOpen = false">
  <div class="title" (click)="isOpen = !isOpen">
    <span>{{ placeholder }}</span>
    <mat-icon>
      {{ isOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
    </mat-icon>
  </div>

  <div class="menu" *ngIf="isOpen">
    <div class="item" *ngFor="let item of items" (click)="onSelectedItem(item.value)">
      <span>{{ item.label | translate }}</span>
    </div>
  </div>
</div>
