@import 'variables';

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px;
  background-color: $secondary;
  min-width: 100px;
  color: white;
  z-index: 10;
  position: absolute;
  margin-top: -24px;
  user-select: none;

  .title {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    .mat-icon {
      font-size: 24px;
      width: 32px;
      height: 36px;
      line-height: 36px;
      margin-left: 5px;
      color: white;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;

    .item {
      padding: 3px 0px 3px 14px;
      height: 32px;
      font-size: 12px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .item:hover {
      background-color: $secondary-light;
    }

    .item:nth-last-child(1) {
      border-radius: 0 0 15px 15px;
    }
  }
}
