<syn-modal-container
  [backInsteadClose]="isLinkForm"
  [isFullscreen]="true"
  [title]="title | translate: data.document"
  (back)="switchToMainForm()"
  (cancel)="onClose()"
  (keydown.escape)="onEscape($event)"
>
  <div class="document-modal-body" body>
    <mat-tab-group
      class="modal-states-tabs"
      [selectedIndex]="currentTab"
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab>
        <syn-document-form
          #documentForm
          formId="doc-form"
          [document]="data.document"
          (valid)="saveDisabled$.next(!$event)"
          (openAssignment)="onOpenAssignment($event)"
          (created)="onExit()"
          [disableAnimation]="disableAnimation"
        >
        </syn-document-form>
      </mat-tab>
      <mat-tab>
        <syn-link-tags [(selectedTags)]="selectedMachineTags"></syn-link-tags>
      </mat-tab>
      <mat-tab>
        <syn-asset-select-tree
          [assets]="assets$ | async"
          [selectedNodes]="selectedAssets$ | async"
          (selectedNodesChange)="onSelectedAssetsChange($event)"
          [multiple]="true"
          [disableCollapse]="true"
        >
        </syn-asset-select-tree>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-container actions>
    <ng-container *ngIf="isMainForm && !isCreate">
      <button
        synButton
        color="danger"
        mode="weak"
        *synAcl="{ aclResources: ['Document'], aclRight: 'Delete' }"
        (click)="onDelete()"
      >
        {{ 'ASSET.ACTION.DELETE' | translate }}
      </button>
    </ng-container>
    <button
      *ngIf="isLinkForm"
      class="single-action"
      synButton
      mode="weak"
      color="primary"
      (click)="addLinks()"
      type="button"
    >
      {{ 'COMMON.ACTION.ADD' | translate }}
    </button>
    <button
      *ngIf="isMainForm"
      class="single-action"
      [disabled]="disabled$ | async"
      synButton
      mode="weak"
      color="primary"
      form="doc-form"
      type="submit"
    >
      {{ (isCreate ? 'COMMON.ACTION.SAVE' : 'COMMON.ACTION.UPDATE') | translate }}
    </button>
  </ng-container>
</syn-modal-container>
