<syn-modal-container
  [backInsteadClose]="isLinkForm"
  [isFullscreen]="true"
  [title]="title | translate: data.task | truncateText: 92"
  (back)="switchToMainForm()"
  (cancel)="onClose()"
  (keydown.escape)="onEscape($event)"
>
  <div class="task-modal-body" [class.body-form]="isMainForm" body>
    <mat-tab-group
      class="modal-states-tabs"
      [selectedIndex]="currentTab"
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab>
        <syn-task-form
          class="task-form-wrapper"
          #taskForm
          [task]="data.task"
          (created)="onExit()"
          (valid)="formDisabled$.next(!$event)"
          (openAssignment)="onOpenAssignment($event)"
          [disableAnimation]="disableAnimation"
          [expanded]="isTaskFormExpanded"
          formId="task-form"
        ></syn-task-form>
      </mat-tab>
      <mat-tab>
        <syn-link-instructions
          #linkInstructions
          [(selectedIds)]="selectedInstructions"
          [currentTab]="subTabs.instructions"
          (currentTabChange)="
            updateSubTab('instructions', $event[0]); saveDisabled$.next(!isMainForm && $event[1])
          "
          (created)="onSelectedInstructionsAdd($event)"
          (openAssignment)="onOpenInstructionAssignment($event)"
          (disabledChange)="saveDisabled$.next(!isMainForm && $event)"
        ></syn-link-instructions>
      </mat-tab>
      <mat-tab>
        <syn-link-documents
          #linkDocuments
          (disabledChange)="saveDisabled$.next(!isMainForm && $event)"
          [(selectedIds)]="selectedDocuments"
          (created)="onSelectedDocumentsAdd($event)"
          [currentTab]="subTabs.documents"
          (currentTabChange)="
            updateSubTab('documents', $event[0]); saveDisabled$.next(!isMainForm && $event[1])
          "
          (openAssignment)="onOpenDocumentAssignment($event)"
        >
        </syn-link-documents>
      </mat-tab>
      <mat-tab>
        <syn-asset-select-tree
          [assets]="assets$ | async"
          [selectedNodes]="selectedAssets$ | async"
          (selectedNodesChange)="onSelectedAssetsChange($event)"
          [multiple]="true"
          [disableCollapse]="true"
        ></syn-asset-select-tree>
      </mat-tab>
      <mat-tab class="task-tags">
        <syn-link-tags [(selectedTags)]="selectedMachineTags" class=""> </syn-link-tags>
      </mat-tab>
      <mat-tab>
        <syn-link-task [(selectedIds)]="selectedTasksIds"></syn-link-task>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-container actions>
    <button
      *ngIf="!isCreate && isMainForm"
      synButton
      mode="weak"
      color="danger"
      type="button"
      (click)="onDelete()"
    >
      {{ 'COMMON.ACTION.DELETE' | translate }}
    </button>
    <button
      *ngIf="isMainForm || isAddForm"
      [disabled]="disabled$ | async"
      [attr.form]="formIds[formType]"
      synButton
      mode="weak"
      color="primary"
      [class.single-action]="isCreate || isLinkForm"
      type="submit"
    >
      {{ (isCreate || isAddForm ? 'COMMON.ACTION.SAVE' : 'COMMON.ACTION.UPDATE') | translate }}
    </button>
    <button
      *ngIf="isLinkForm && !isAddForm"
      class="single-action"
      synButton
      mode="weak"
      color="primary"
      (click)="addLinks()"
      type="button"
    >
      {{ 'COMMON.ACTION.ADD' | translate }}
    </button>
  </ng-container>
</syn-modal-container>
