<div class="footer">
  <div class="footer-item">&copy; {{ copyrightYear }} {{ companyName }}</div>
  <div class="footer-item">
    Shopfloor Platform {{ 'MISC.LABEL.VERSION' | translate }} {{ shopfloorVersion }}
  </div>
  <div class="footer-item">
    Frontend {{ 'MISC.LABEL.VERSION' | translate }} {{ frontendVersion }}
  </div>
  <div class="footer-item with-action" (click)="openLicensesModal()">
    {{ 'MISC.LABEL.LICENSES' | translate }}
  </div>
  <div class="footer-item with-action" (click)="openImprintModal()">
    {{ 'MISC.LABEL.IMPRINT' | translate }}
  </div>
  <div class="footer-item with-action" (click)="openPrivacyModal()">
    {{ 'MISC.LABEL.PRIVACY' | translate }}
  </div>
  <div class="footer-item with-action" (click)="openTermsOfUseModal()">
    {{ 'MISC.LABEL.TERMS_OF_USE' | translate }}
  </div>
</div>
