@import 'variables';

.footer {
  align-items: center;
  background: $modal-background;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
  bottom: 0;
  color: $secondary;
  display: flex;
  font-weight: 300;
  font-size: 12px;
  min-height: $footer-height;
  justify-content: center;
  left: 0;
  padding: #{$footer-y-padding} 0;
  position: absolute;
  width: 100%;
  z-index: 10;

  .footer-item {
    user-select: none;
    + .footer-item {
      margin-left: 30px;
    }

    &.with-action {
      cursor: pointer;
      &:hover {
        color: $secondary-light;
      }
    }
  }
}
