<div class="actions">
  <div class="item-actions">
    <span *ngIf="contentRef.childNodes.length === 0" class="item-name page-title">
      {{ pageTitle | translate }}
    </span>
    <ng-container>
      <div #contentRef>
        <ng-content></ng-content>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!!contentRef.childNodes.length" #viewContainer></ng-container>
</div>

<div class="navigation-bar" [class.spacer]="submenuHidden">
  <nav
    mat-tab-nav-bar
    *ngIf="subPages.length > 0 && !submenuHidden"
    class="sub-nav-bar with-action-bar"
    [class.with-underline]="subPages.length > 1"
  >
    <a
      mat-tab-link
      *ngFor="let subNav of subPages"
      class="page-sub-title"
      [routerLink]="subNav.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ subNav.title | translate }}
    </a>
  </nav>

  <ng-container *ngIf="!contentRef.childNodes.length" #viewContainer></ng-container>
</div>
