@import 'mixins';

span {
  @include status();
}

.actions {
  justify-content: space-between;
  display: flex;

  .item-actions {
    min-height: 40px;
    align-items: center;
    display: flex;

    .item-name {
      color: $text-dark;
      font-weight: 500;
      font-size: 20px;
    }

    .page-title {
      color: $input-text;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.navigation-bar {
  position: relative;
  .page-title,
  .page-sub-title {
    color: $input-text;
    font-weight: bold;
    margin-top: 10px;
  }

  .with-action-bar {
    min-height: 65px;
    margin: 0 0 20px 0;
    display: inline-flex;
    align-items: center;

    .page-sub-title {
      cursor: pointer;
      font-size: 22px;
      margin-right: 15px;
      @media (max-width: 1279px) {
        font-size: 20px;
      }
    }

    .page-sub-title:hover {
      color: darken($text-dark, 12);
    }

    .page-sub-title.selected {
      outline: none;
      font-weight: bold;
      color: $text-disabled;
    }
  }
}

.spacer {
  margin: 15px 0;
}

.sub-nav-bar {
  display: inline-flex;
  border-bottom: none;

  &:not(.with-underline) {
    pointer-events: none;
  }
}
