@import 'mixins';

.line-detail {
  @include asset-details();
  .asset-image {
    height: 380px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 20px;
    color: $secondary;
  }

  .total-output-goods {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    text-align: center;
  }
}

.task-counter {
  @include asset-tab-count-badge();
}

.machine-list {
  display: flex;
  flex-wrap: wrap;
  .machine-card {
    margin: 22px 22px;
    syn-asset-card {
      width: 219px;
      height: 95px;
    }
  }
}

.table-container {
  padding-bottom: 16px;
}

.asset-tabs-wrapper {
  @include asset-tabs-wrapper();
}

.tab-label-wrapper {
  @include tab-label-wrapper();
}
