<div class="line-detail" xmlns="http://www.w3.org/1999/html">
  <syn-asset-image
    *ngIf="currentLine$ | async as line"
    class="card asset-image"
    [asset]="line"
    [placeholder]="'../../../assets/imgs/line-default.png'"
    (click)="onAssetView(line)"
  >
  </syn-asset-image>
  <div class="performance-section">
    <h3 class="title">{{ 'COMMON.LABEL.PERFORMANCE' | translate }}</h3>
    <div>
      <syn-performance-range-filter></syn-performance-range-filter>
    </div>
    <div class="total-output-goods">
      <div>
        <span class="count">{{ totalCount$ | async | formatNumber }}</span>
        <br />
        <span>{{ 'ASSET.LABEL.TOTAL_OUTPUT_GOODS' | translate }}</span>
      </div>
    </div>
  </div>
</div>

<div class="asset-tabs-wrapper">
  <mat-tab-group *ngIf="currentLine$ | async as line" class="asset-detail-tabs">
    <mat-tab [label]="'ASSET.LABEL.MACHINES' | translate">
      <ng-template mat-tab-label>
        <div class="tab-label-wrapper" [class.with-badge]="machinesDueTasksCount$ | async">
          {{ 'ASSET.LABEL.MACHINES' | translate }}
          <ng-container *ngIf="machinesDueTasksCount$ | async as count">
            <span class="task-counter" *ngIf="count">
              {{ count }}
            </span>
          </ng-container>
        </div>
      </ng-template>

      <div class="actions">
        <button
          *synAcl="{ aclResources: ['Asset'], aclRight: 'Create' }"
          synButton
          color="secondary"
          mode="strong"
          (click)="onCreateMachine()"
        >
          {{ 'ASSET.ACTION.ADD_MACHINE' | translate }}
        </button>
      </div>
      <div *ngIf="machines$ | async as machines" class="machine-list">
        <div *ngFor="let machine of machines" class="card-container machine-card carousel">
          <syn-asset-card
            class="card"
            (click)="toMachineDetailPage(machine)"
            [asset]="machine"
          ></syn-asset-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'TASK.NAME_PLURAL' | translate">
      <ng-template mat-tab-label>
        <div class="tab-label-wrapper" [class.with-badge]="lineDueTasksCount$ | async">
          {{ 'ASSET.LABEL.TASKS' | translate }}
          <span class="task-counter" *ngIf="lineDueTasksCount$ | async as count">
            {{ count }}
          </span>
        </div>
      </ng-template>
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Task'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateTask()"
          >
            {{ 'TASK.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-task-list
          [refIds]="taskRefIds$ | async"
          mode="asset"
          [hideFilter]="true"
        ></syn-task-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'DOCUMENT.NAME_PLURAL' | translate">
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Document'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateDocument()"
          >
            {{ 'DOCUMENT.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-document-list
          mode="asset"
          titleWidth="45"
          [refId]="line.id"
          [hideFilter]="true"
        ></syn-document-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'WORK_INSTRUCTION.NAME_PLURAL' | translate">
      <div class="table-container">
        <div class="actions">
          <button
            *synAcl="{ aclResources: ['Instruction'], aclRight: 'Create' }"
            synButton
            color="secondary"
            mode="strong"
            (click)="onCreateInstruction()"
          >
            {{ 'WORK_INSTRUCTION.ACTION.NEW' | translate }}
          </button>
        </div>
        <syn-work-instruction-list
          mode="asset"
          titleWidth="45"
          [refId]="line.id"
          [hideFilter]="true"
        ></syn-work-instruction-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
