<syn-modal-container
  [title]="data.task.title | truncateText: 55"
  (cancel)="dialogRef.close()"
  maxWidth="300px"
>
  <button
    header-action
    *synAcl="{ aclResources: ['Task'], aclRight: 'Update' }"
    mat-icon-button
    tabindex="-1"
    class="edit-button"
    (click)="onEditTask()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <div class="task-view" body>
    <div [ngClass]="{ control: true }" [class]="state">
      <div class="time-left" *ngIf="isTaskNotDone">
        <ng-container *ngIf="timeLeft as t">
          <div class="value">{{ isTaskInactive ? 0 : t.diff }}</div>
          <div class="label">
            {{
              isTaskInactive
                ? ('COMMON.LABEL.INACTIVE' | translate)
                : ('COMMON.TIME.LEFT'
                  | translate: { unit: 'COMMON.TIME.UNIT.' + (t.unit | uppercase) | translate })
            }}
          </div>
        </ng-container>
      </div>

      <div class="time-left" *ngIf="isTaskDone">
        <svg-icon
          src="./assets/icons/Syntegon-icon-check.svg"
          [svgClass]="'success-check'"
        ></svg-icon>
      </div>

      <div *ngIf="isTaskInactive; else confirmation" class="asset-controller">
        <ng-template [synAcl]="{ aclResources: ['Task'], aclRight: 'Update' }">
          <div class="asset-dropdown">
            <syn-asset-select
              [placeholder]="'TASK.ACTION.LINK_TO_ASSET_TO_ACTIVATE' | translate"
              [assets]="assetTrees$ | async"
              [(selected)]="selectedAsset"
            ></syn-asset-select>
          </div>

          <button
            synButton
            color="primary"
            mode="strong"
            *ngIf="selectedAsset"
            (click)="onAssignAsset()"
          >
            {{ 'COMMON.ACTION.ACTIVATE' | translate }}
          </button>
        </ng-template>
      </div>

      <ng-template #confirmation>
        <ng-template [ngIf]="isTaskNotDone">
          <button
            *synAcl="{ aclResources: ['Task'], aclRight: 'Execute' }"
            synButton
            mode="strong"
            [color]="state"
            [disabled]="state === 'neutral'"
            (click)="onConfirm()"
          >
            {{ 'COMMON.ACTION.MARK_DONE' | translate }}
          </button>
        </ng-template>
      </ng-template>

      <h3 class="done-title" *ngIf="isTaskDone">{{ 'COMMON.LABEL.DONE' | translate }}</h3>
    </div>
    <ng-container *ngIf="attachments$ | async as attachments">
      <mat-expansion-panel
        disabled
        *ngIf="attachments.length > 0"
        class="modal-expansion-options expansion-no-content-padding mat-elevation-z0"
        [@.disabled]="disableAnimation"
        [expanded]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="field-label">{{ 'SHARED.RELATION.ATTACHMENTS' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="attachment-container">
          <div
            *ngFor="let attachment of attachments; let first = first"
            class="row attachment-row"
            (click)="openAttachment(attachment)"
          >
            <span class="row-title">{{ attachment.title }}</span>
            <svg-icon
              [title]="
                (isDoc(attachment)
                  ? 'ATTACHMENT.TYPE.DOCUMENT'
                  : 'ATTACHMENT.TYPE.WORK_INSTRUCTION'
                ) | translate
              "
              [src]="
                (isDoc(attachment)
                  ? './assets/icons/Syntegon-icon-documents-preview.svg'
                  : './assets/icons/Syntegon-icon-work-instructions-preview.svg'
                ) | translate
              "
              [svgClass]="'item__content'"
            ></svg-icon>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
    <div class="row">
      <span class="field-label">{{ 'CLASSIFICATION.NAME' | translate }}</span>
      <span class="placeholder">{{
        getClassificationLabel(data.task.classification) | translate
      }}</span>
    </div>
  </div>
</syn-modal-container>
