@import 'mixins';

.task-view {
  @include modal-view();
  margin-bottom: 15px;
  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 15px;
    .time-left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 14px 0 22px 0;

      border-radius: 100%;

      width: 170px;
      height: 170px;

      .value {
        font-size: 48px;
      }

      .label {
        font-size: 18px;
        font-weight: 600;
      }
    }

    &.danger {
      .time-left {
        border: 3px solid $danger;

        .value {
          color: $danger;
        }
      }
    }

    &.primary {
      .time-left {
        border: 3px solid $primary;

        .value {
          color: $primary;
        }
      }

      .done-title {
        color: $primary;
      }
    }

    &.neutral > .time-left {
      border: 3px solid $secondary-light;

      .value {
        color: $secondary-light;
      }
    }

    .asset-controller {
      display: flex;
      flex-direction: column;
      width: 60%;

      .asset-dropdown {
        margin-bottom: 20px;
      }
    }
  }
}

.edit-button {
  @include edit-button-margin-auto();
}

.more-options-title {
  color: $text-dark;
  font-weight: bold;
}

.field-label {
  @include regular-text();
  font-weight: bold;
}

.placeholder {
  @include regular-text();
}
