<button class="fab clickable" mat-fab (click)="openQrScanner()">
  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <path d="M2.48508 2.48508H7.07067V0.956543H0.956543V7.07067H2.48508V2.48508Z" fill="black" />
      <path d="M20.9294 0.956543V2.48508H25.515V7.07067H27.0436V0.956543H20.9294Z" fill="black" />
      <path d="M25.515 25.5148H20.9294V27.0433H27.0436V20.9292H25.515V25.5148Z" fill="black" />
      <path d="M2.48508 20.9292H0.956543V27.0433H7.07067V25.5148H2.48508V20.9292Z" fill="black" />
      <path
        d="M4.06445 4.01367V11.6563H11.7071V7.07074H13.2356V5.5422H11.7071V4.01367H4.06445ZM10.1786 10.1278H5.59299V5.5422H10.1786V10.1278Z"
        fill="black"
      />
      <path
        d="M23.9356 23.8846V16.2419H20.8785V14.7134H19.35V16.2419H14.7644V17.7704H16.2929V19.299H14.7644V20.8275H16.2929V23.8846H23.9356ZM17.8215 17.7704H22.4071V22.356H17.8215V17.7704Z"
        fill="black"
      />
      <path
        d="M8.65005 14.7131H11.7071V13.1846H4.06445V14.7131H7.12152V16.2416H5.59299V17.7702H7.12152V20.8272H5.59299V22.3558H7.12152V23.8843H14.7642V22.3558H13.2356V20.8272H11.7071V22.3558H8.65005V20.8272H10.1786V19.2987H8.65005V14.7131Z"
        fill="black"
      />
      <path d="M7.12158 7.0708H8.65011V8.59933H7.12158V7.0708Z" fill="black" />
      <path d="M19.3499 7.0708H20.8784V8.59933H19.3499V7.0708Z" fill="black" />
      <path
        d="M20.8783 11.6563H23.9354V4.01367H16.2927V11.6563H19.3498V13.1849H20.8783V11.6563ZM17.8213 10.1278V5.5422H22.4069V10.1278H17.8213Z"
        fill="black"
      />
      <path
        d="M23.9355 14.7131V13.1846C23.5657 13.1846 21.2508 13.1846 20.8784 13.1846V14.7131H23.9355Z"
        fill="black"
      />
      <path d="M19.3499 19.2988H20.8784V20.8274H19.3499V19.2988Z" fill="black" />
      <path d="M13.2358 17.7705H14.7644V19.299H13.2358V17.7705Z" fill="black" />
      <path
        d="M10.1787 19.2988H11.7072C11.7072 18.929 11.7072 16.6141 11.7072 16.2417H10.1787V19.2988Z"
        fill="black"
      />
      <path d="M11.7073 14.7134H13.2358V16.2419H11.7073V14.7134Z" fill="black" />
      <path
        d="M5.59299 17.7705H4.06445V20.8276H5.59299C5.59299 20.4578 5.59299 18.1429 5.59299 17.7705Z"
        fill="black"
      />
      <path d="M4.06445 22.356H5.59299V23.8845H4.06445V22.356Z" fill="black" />
      <path d="M13.2358 4.01367H14.7644V5.5422H13.2358V4.01367Z" fill="black" />
      <path
        d="M13.2358 10.1279H14.7644C14.7644 9.75807 14.7644 7.44318 14.7644 7.0708H13.2358V10.1279Z"
        fill="black"
      />
      <path d="M14.7644 13.1848V11.6562H13.2358V14.7133H19.35V13.1848H14.7644Z" fill="black" />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect x="0.956543" y="0.956543" width="26.087" height="26.087" fill="white" />
      </clipPath>
    </defs>
  </svg>
</button>
