@import 'variables';

.fab {
  z-index: 100;
  right: 20px;
  bottom: 20px;
  position: fixed !important;
  background: $modal-background;
}
.mat-accent {
  background: $modal-background !important;
  &:hover {
    background: $qr-background !important;
  }
}
