<ng-container *ngIf="type$ | async as type">
  <nav class="machine-metric-nav" mat-tab-nav-bar *ngIf="type !== 'product-losses'">
    <a
      *ngFor="let link of navLinks"
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      >{{ link.label | translate }}</a
    >
  </nav>

  <syn-performance-range-filter></syn-performance-range-filter>

  <div *ngIf="loadedTop$ | async; else placeholder" class="block-template">
    <div *ngIf="type !== 'fault-stops/counts'" class="gauge-wrapper">
      <ngx-gauge
        class="danger"
        type="full"
        thick="7"
        size="70"
        append="%"
        foregroundColor="#ff2b52"
        [value]="percent$ | async"
      >
      </ngx-gauge>
    </div>
    <div class="value-template">
      <div class="value" *ngIf="totalValue$ | async as totalValue">
        {{ totalValue.formatted }}
        <span>{{ totalValue.unit | translate }}</span>
      </div>
      <div class="title-template">
        {{ config.summaryTitle | translate }}
        <span class="title-addition">({{ config.summaryTitleBrackets | translate }})</span>
      </div>
    </div>
  </div>

  <div *ngIf="loadedMiddle$ | async; else placeholder" class="block-template">
    <div class="title-template">
      {{ 'ASSET.LABEL.TOP_X_CHART' | translate: { x: num, title: config.chartTitle | translate } }}
    </div>
    <div class="top-table" (clickOutside)="selectedReason = null">
      <ng-container>
        <div
          class="top-table-row"
          *ngFor="let item of data$ | async; index as i"
          (click)="selectedReason = item.label"
        >
          <div class="name">{{ item.label }}</div>
          <syn-range
            class="range"
            [value]="item.value"
            [max]="maxValue$ | async"
            [color]="
              !selectedReason || selectedReason === item.label ? colors.Faulted : colors.Offline
            "
          ></syn-range>
          <div class="max">
            {{ item.displayValue }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="loadedBottom$ | async; else placeholder">
    <ng-container [ngSwitch]="type">
      <div *ngSwitchCase="'fault-stops/counts'" class="card">
        <span class="text title-template chart-title">
          {{ 'ASSET.LABEL.HISTOGRAM' | translate }}
        </span>
        <syn-fault-stops-histogram
          [faultStops]="faultStops$ | async"
          [highlightedReason]="selectedReason"
          [range]="currentFilter$ | async"
        ></syn-fault-stops-histogram>
      </div>

      <div *ngSwitchCase="'fault-stops/durations'" class="card chart">
        <span class="text title-template chart-title">
          {{ 'ASSET.LABEL.TIMELINE' | translate }}
        </span>
        <syn-fault-stops-timeline
          [faultStops]="faultStops$ | async"
          [highlightedReason]="selectedReason"
          [range]="currentFilter$ | async"
        ></syn-fault-stops-timeline>
      </div>

      <div *ngSwitchCase="'product-losses'" class="card chart">
        <span class="text title-template chart-title">
          {{ 'ASSET.LABEL.HISTOGRAM' | translate }}
        </span>
        <syn-product-losses-histogram
          [productLosses]="productLosses$ | async"
          [highlightedReason]="selectedReason"
          [range]="currentFilter$ | async"
        ></syn-product-losses-histogram>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="card card-placeholder table-loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
