@import 'mixins';

.machine-metric-nav {
  @include content-tabs();
}

.block-template {
  padding: 30px;
  margin: 20px 0;
  background-color: $modal-background;
  border-radius: 20px;
  position: relative;
  .gauge-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    .danger {
      color: $danger;
    }
  }
  .value-template {
    width: 100%;
    text-align: center;
    .value {
      color: $danger;
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 20px;
      span {
        font-size: 16px;
      }
    }
  }
  .top-table {
    margin-top: 30px;
    .top-table-row {
      display: flex;
      align-items: center;
      margin: 13px 0;
      .name {
        width: 15%;
        color: $text-dark;
        font-size: 14px;
        padding-right: 4px;
        font-weight: 300;
      }
      .range {
        width: 100%;
      }
      .max {
        padding-left: 4px;
        width: 10%;
        text-align: right;
        color: $danger;
        font-weight: bold;
      }
    }
  }
}
.title-template {
  font-weight: bold;
  color: $text-dark;

  .title-addition {
    font-weight: 300;
  }

  span {
    font-weight: normal;
  }
}

.chart-title {
  margin-bottom: 24px;
  font-size: 16px;
}

.card-placeholder {
  margin: 20px 0;
  @include card-placeholder();
}
