<ng-container *ngIf="dueTasks$ | async as tasks">
  <span class="task-counter" *ngIf="!hideTasksBadge && tasks.length">
    {{ tasks.length }}
  </span>
</ng-container>
<div class="card-container clickable" matRipple>
  <div #assetImg class="card-image" [class.loading]="!imageLoaded"></div>
  <div class="card-info" *ngIf="asset$ | async as asset">
    <ng-container *ngIf="status$ | async as status">
      <div
        *ngIf="asset.type === assetType.MACHINE"
        class="asset-status"
        [ngStyle]="{
          color: colors[status],
          'border-color': colors[status],
          'background-color': !!colors[status] ? '' : colors.Offline
        }"
      >
        {{ 'ASSET.STATE.' + (status | uppercase) | translate }}
      </div>
    </ng-container>
    <span class="card-title text-label" [class.loading]="!imageLoaded">{{ asset.name }}</span>
  </div>
</div>
