@import 'mixins';
@import 'animations';

:host(syn-asset-card) {
  background-size: cover;
  height: 95px;
  background-color: $modal-background;
  border-radius: 20px;
  padding: 0;
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;

  .card-container {
    flex-direction: row;
    display: flex;
    position: relative;
    flex: 1;
    border-radius: inherit;
  }

  .card-image {
    @include avatar-background();
    background-color: $modal-background;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    width: 85px;
    &.loading {
      background: $skeleton-bg;
      animation: shine-skeleton-image 1s infinite linear;
      background-size: 400px;
      border-radius: 4px;
    }
  }

  .card-info {
    display: flex;
    flex: 2;
    flex-direction: column;
    font-weight: bold;
    padding: 10px 5px;

    .asset-status {
      border: 2px solid;
      border-radius: 15px;
      display: inline-block;
      max-height: 30px;
      padding: 0 10px;
      width: max-content;
      font-size: 8px;
      line-height: 16px;
    }

    .card-title {
      margin: 5px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      word-break: break-word;
      font-size: 12px;
      font-weight: 300;
      color: $input-text;
      &:first-child {
        margin-top: 35px;
      }
      &.loading {
        color: transparent;
        background: $skeleton-bg;
        animation: shine-skeleton-image 1s infinite linear;
        background-size: 400px;
        border-radius: 4px;
        height: 24px;
        width: 100%;
      }
    }
  }

  .task-counter {
    @include task-count-badge();
    z-index: 10;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

:host(.big-card) {
  .card-image {
    width: 163px;
  }
  .card-title {
    font-weight: bold !important;
    font-size: 20px !important;
  }
}
