<form class="work-instruction-form" [id]="formId" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-body">
    <syn-form-control
      name="title"
      [title]="('COMMON.LABEL.TITLE' | translate) + '*'"
      [control]="getControl('title')"
    >
      <input
        class="text-field"
        [class.danger]="hasError('title')"
        [placeholder]="'COMMON.LABEL.TITLE' | translate"
        formControlName="title"
      />
    </syn-form-control>

    <syn-form-control
      name="url"
      [title]="('COMMON.LABEL.URL' | translate) + '*'"
      [control]="getControl('url')"
      [error]="hasError('url') ? 'Invalid URL' : null"
    >
      <input
        class="text-field"
        [class.danger]="hasError('url')"
        [placeholder]="'COMMON.LABEL.URL' | translate"
        formControlName="url"
      />
    </syn-form-control>

    <syn-form-control
      name="classification"
      [title]="('CLASSIFICATION.NAME' | translate) + '*'"
      [control]="getControl('classification')"
    >
      <mat-select formControlName="classification" [class.danger]="hasError('classification')">
        <mat-option *ngFor="let item of classifications" [value]="item.value">
          {{ item.label | translate }}
        </mat-option>
      </mat-select>
    </syn-form-control>

    <mat-expansion-panel
      class="modal-expansion-options mat-elevation-z0"
      [@.disabled]="disableAnimation"
      [expanded]="expanded"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="more-options-title">
            {{ 'COMMON.LABEL.MORE_OPTIONS' | translate }}
            <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="modal-options">
        <div class="label">
          {{ 'SHARED.RELATION.MACHINE_TYPE_TAGS' | translate }}
          <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
        </div>
        <span class="links-count" *ngIf="machineTypeTags && machineTypeTags.length">{{
          machineTypeTags.length
        }}</span>
        <div>
          <button mat-icon-button (click)="onMachineTagsSwitch()" type="button">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="modal-options">
        <div class="label">
          {{ 'SHARED.RELATION.LINKED_ASSETS' | translate }}
          <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
        </div>
        <span class="links-count" *ngIf="assetIds && assetIds.length">{{ assetIds.length }}</span>
        <div>
          <button mat-icon-button (click)="onAssetsSwitch()" type="button">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="modal-options">
        <div class="label">
          {{ 'SHARED.RELATION.LINKED_TASKS' | translate }}
          <span class="optional">({{ 'COMMON.LABEL.OPTIONAL' | translate | lowercase }})</span>
        </div>
        <span class="links-count" *ngIf="taskIds && taskIds.length">{{ taskIds.length }}</span>
        <div>
          <button mat-icon-button (click)="onTasksSwitch()" type="button">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</form>
