@import 'mixins';

.work-instruction-form {
  @include modal-form();
  max-height: none;
  overflow: hidden;
  .modal-options {
    margin-top: 12px !important;
    height: 30px;
    .label {
      margin-top: 12px !important;
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }
}

.actions {
  position: sticky;
  bottom: 0;
  padding-top: 8px;
  background: $modal-background;
  display: flex;
  justify-content: space-between;
}
