<div class="about">
  <div class="header">
    <button tabindex="-1" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <img src="../../../assets/logo.png" class="logo" />
  </div>
  <h3>{{ data.title ? (data.title | translate) : '' }}</h3>
  <div class="body" [innerHTML]="data.text"></div>
</div>
