@import 'variables';

@mixin modal-form {
  max-height: calc(100vh - 48px);
  overflow: auto;

  border-radius: 20px;
  width: 70vw;
  color: $text-dark;

  .actions {
    @include modal-actions();
  }

  .header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-bottom: 8px;
    background: white;
    z-index: 5;

    .title {
      font-size: 22px;
      color: $input-text;
      font-weight: bold;
      margin: 0 16px;
      @media (max-width: 1200px) {
        font-size: 22px;
      }
    }
  }

  .logo {
    width: 200px;
  }
  .form-body {
    padding: 10px 20px;
    display: grid;

    .modal-options {
      margin: 14px 0;
      height: 20px;
    }

    .label {
      font-weight: 600;
      font-size: 12px;
      margin: 14px 0 0 0;
    }

    .inline-fields {
      display: inline-flex;
      flex-direction: row;

      .col-field {
        display: flex;
        flex-direction: column;
        flex: 1;

        .text-field {
          min-width: 180px;
          flex: 1;
        }

        .mat-select {
          flex: 1;
        }
      }

      .col-field:nth-child(1) {
        margin-right: 20px;
      }
    }

    .modal-field {
      display: flex;
      margin: 22px 0 12px 0;
      align-items: center;
      justify-content: space-between;

      .field-value {
        display: flex;
        justify-content: space-between;
        margin: 0 36px;
        width: 100%;
        font-weight: bold;

        .label {
          margin: 0;
        }
      }
    }

    .modal-options {
      display: flex;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      color: $text-dark;
      font-size: 12px;
      line-height: 18px;
    }

    .modal-expansion-options {
      .mat-expansion-panel-header {
        color: $text-dark;
        font-size: 16px;
        font-weight: 600;
        padding-right: 17px;
        .mat-expansion-panel-header-title {
          color: inherit;
          font-size: inherit;
        }
        .mat-expansion-indicator::after {
          padding: 4px;
        }
      }
      .mat-expansion-panel-body {
        padding-right: 0;
      }
      .modal-options {
        font-weight: 600;
      }
    }

    .selected-tags {
      display: flex;
      font-weight: 300;
      font-size: 15px;
      flex-direction: column;

      .tag-name {
        margin-bottom: 22px;
      }

      .tag-count {
        align-self: flex-end;
        margin-right: 22px;
      }
    }
  }

  .text-field {
    @include text-field();
  }

  .time-picker {
    display: inline-flex;

    .text-field {
      width: 100%;
      padding-right: 52px;
    }

    .mat-icon-button {
      margin-left: -40px;
    }
  }

  .mat-select {
    @include dropdown();
    padding: 0 12px;
    .mat-select-trigger {
      padding: 10px 6px 11px 8px;
      font-size: 12px;
      line-height: 16px;
      color: $input-text;
    }
    &.danger {
      background: $background-danger;
    }
  }

  .optional {
    font-weight: 300;
    color: $text-disabled;
    margin-left: 5px;
  }

  .links-count {
    margin: 0 5px 0 auto;
  }
}

@mixin modal-actions {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  padding-top: 8px;
  background: white;
  z-index: 5;

  &.single-action {
    justify-content: flex-end;
  }

  .single-action {
    margin-left: auto;
  }
}

@mixin sub-modal-header {
  display: flex;
  align-items: center;
  color: $text-dark;

  .back-button {
    margin-right: 16px;
  }

  .title {
    font-size: 26px;
    margin: 10px 0;
  }
}

@mixin asset-details {
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;

  syn-asset-image,
  syn-asset-card {
    margin-right: 20px;
    pointer-events: none;
    height: auto;
    display: flex;
    flex: 1;
  }

  .total-output-goods {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: $secondary;

    span + span {
      margin-left: 5px;
    }

    span:not(.count) {
      font-weight: 300;
    }

    .count {
      font-weight: 600;
      font-size: 55px;
      line-height: 50px;
    }
  }

  .asset-image {
    flex: 1 0 250px;
    margin-right: 15px;
  }

  .performance-section {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
}

@mixin button {
  display: flex;
  align-self: center;
  border-radius: 45px;
  padding: 14px 20px;
  border: none;
  width: fit-content;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;

  &.primary {
    background: $primary;
    color: white;
  }

  &.light-primary {
    background-color: $background;
    color: $primary;
  }

  &.secondary {
    color: $primary;
    background: $background-primary;
  }

  &.neutral {
    background: lighten($background, 0.5);
  }

  &.danger {
    color: $danger;
    background: $background-danger;
  }

  &[disabled] {
    background: $background-dark;
    color: $text-dark;
  }
}

@mixin text-field {
  outline: none;
  font-size: 12px;
  line-height: 16px;
  border-radius: 18px;
  padding: 10px 17px;
  border: none;
  min-width: 219px;
  background: $input-background;
  color: $input-text;
  width: 100%;
  box-sizing: border-box;

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    color: rgba($color: $input-text, $alpha: 0.4);
    font-weight: 300;
    font-size: 12px;
  }

  &[disabled] {
    background: $input-background-disabled;
  }

  &.danger {
    background: $background-danger;
  }
}

@mixin dropdown() {
  background: $input-background;
  border-radius: 25px;
  padding: 12px 12px 12px 16px;
  width: calc(100% - 28px);

  &[disabled] {
    background: $input-background-disabled;
  }

  &.danger {
    background: $background-danger;
  }
}

@mixin select-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: $input-background;
  min-width: 170px;
  font-size: 12px;

  &.open-dropdown {
    border-radius: 20px 20px 0 0;
  }

  .dropdown-control {
    height: 20px;
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    .placeholder {
      font-size: 12px;
      line-height: 20px;
      color: $input-text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .toggle-icon {
      font-size: 16px;
      text-indent: -8px;
      color: $text-dark;
    }
  }
}

@mixin select-filter-input() {
  &.selected {
    color: $secondary;
    font-weight: bold;

    .toggle-icon {
      color: $secondary !important;
    }

    .placeholder {
      color: $secondary !important;
    }

    .reset {
      color: $secondary;
    }

    &:not(.dropdown-disable-shadow) {
      box-shadow: 0 0 0 2px $secondary inset;

      .dropdown-control {
        margin-left: 40px !important;
      }
    }
  }

  &:not(.selected) {
    .toggle-icon-button .toggle-icon {
      color: $text-disabled;
    }
  }

  &.open-dropdown {
    &:not(.selected) {
      .toggle-icon {
        color: $input-text;
      }

      .placeholder {
        color: $input-text !important;
      }
    }
  }

  .dropdown-control {
    color: $text-disabled;
    justify-content: space-between;
  }

  .toggle-icon-button {
    .toggle-icon {
      font-size: 27px;
    }
  }
}

@mixin select-input-menu {
  color: $text-dark;
  font-weight: 300;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 6px 6px -5px grey;
  background-color: $background-dark;
  width: 100%;

  .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding: 0 16px;
    font-size: 12px;

    @media (max-width: 1279px) {
      padding: 0 12px;
    }

    &:hover {
      background: $selected-background;
      &:first-child {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0 0 20px 20px;
      }
    }
  }
}

@mixin filter-select-input-menu {
  background-color: white;
  box-shadow: 0px 2px 6px -3px grey;
  .dropdown-item {
    background: white;
  }
}

@mixin base-table($with-hover: false) {
  background: white;
  border-radius: 22px;
  position: relative;
  &.no-items {
    border-radius: 22px 22px 0 0;
  }

  .table-loading {
    @include table-loading-panel();
  }

  .no-items-message {
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: $text-dark;
    background: white;

    &.danger {
      color: $danger;
    }
  }

  @if $with-hover {
    tr:not(.mat-header-row) {
      cursor: pointer;

      &:hover,
      .syn-active {
        background: #fafafa;
      }
    }
  }

  .mat-cell {
    padding: 10px;
    text-align: start;
    &:first-of-type {
      padding: 10px 10px 10px 20px;
    }
    @media (max-width: 1279px) {
      font-size: 12px;
    }
  }

  .mat-header-cell {
    text-align: start;
    padding: 10px;
    &:first-of-type {
      padding: 10px 10px 10px 20px;
    }
    @media (max-width: 1279px) {
      font-size: 14px;
    }
  }

  ::ng-deep .mat-sort-header-container {
    .mat-sort-header-button {
      font-size: 12px;
      text-align: left;
    }
  }

  .mat-table {
    width: 100%;
    border-bottom-width: 10px;
    border-collapse: separate;
    border-radius: 45px;
    background: transparent;

    th {
      font-weight: 500;
      font-size: 12px;
      color: $text-disabled;
    }

    tr {
      border-bottom-width: 10px;
      border-collapse: separate;
      border-radius: 45px;

      td {
        border-bottom-color: $background;
        height: 52px;

        span {
          @include column-text();
          min-width: 0;
        }
      }
    }
  }

  .mat-paginator {
    border-radius: 45px;
  }
}

@mixin title-column() {
  width: 25%;
  span {
    width: auto;
    max-width: 200px;
    @media (min-width: 839px) {
      max-width: 250px;
    }
    @media (min-width: 1279px) {
      max-width: 320px;
    }
  }
}

@mixin column-text() {
  display: inline-block;
  min-width: 110px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 12px;
  color: $input-text;
}

@mixin status() {
  &.faulted,
  &.stopped,
  &.running {
    display: flex;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
  }

  @include states();
}

@mixin states() {
  &.faulted {
    background-color: $danger;
  }

  &.stopped {
    background-color: $secondary-light;
  }

  &.running {
    background-color: $primary;
  }
}

@mixin modal-view() {
  width: 400px;
  color: $text-dark;
  font-weight: 300;

  .header {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    background: $modal-background;
    padding-top: 18px;
    flex: 1;

    .title {
      color: $input-text;
      font-size: 22px;
      margin: 0 10px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    .edit-button {
      margin-left: auto;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    width: auto;

    .field-label {
      font-weight: bold;
      font-size: 12px;
      color: $input-text;
    }
    .type-label {
      color: $text-light;
    }
    .field-value {
      word-break: break-all;
      max-width: 50%;
    }
  }

  .attachment-container {
    max-height: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: auto;
  }

  .attachment-header {
    background: $background;
  }

  .attachment-row {
    padding: 12px 24px;
    background: $pane-background;
    border-radius: 20px;

    + .attachment-row {
      margin-top: 10px;
    }

    .row-title {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      color: $input-text;
    }
  }

  .divider {
    border-top: 1px solid $background;
  }
}

@mixin asset-form() {
  background: inherit;
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-width: 415px;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;

    .item {
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 22px !important;
      }

      .value {
        margin-bottom: 38px;
        font-weight: 300;
      }

      .text-field {
        @include text-field();
      }
    }

    .col:nth-last-child(1) {
      margin-left: 6%;
    }
  }
}

@mixin modal-view-row() {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  width: auto;

  .field-label {
    font-weight: bold;
    white-space: nowrap;
    color: $input-text;
    font-size: 12px;
  }
  .type-label {
    color: $text-light;
  }
  .value-field {
    @include column-text();
  }
}

@mixin task-count-badge() {
  background-color: $danger;
  border-radius: 45px;
  color: white;
  height: 20px;
  min-width: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin asset-tab-count-badge {
  align-items: center;
  background-color: $danger;
  border-radius: 45px;
  color: white;
  display: flex;
  font-size: 12px;
  height: 17px;
  justify-content: center;
  min-width: 17px;
  margin-left: 5px;
  margin-bottom: 20px;
}

@mixin base-tabs() {
  .mat-ink-bar {
    background: $secondary !important;
    height: 3px;
  }
}

@mixin content-tabs() {
  border: none;
  .mat-tab-header {
    border: none;
    .mat-tab-label {
      font-size: 20px;
    }
  }
  a {
    font-size: 20px;
    color: $text-disabled;
    &.mat-tab-label-active {
      opacity: 1;
      color: $input-text;
      font-weight: bold;
    }
  }
}

@mixin search-wrapper() {
  margin-top: 5px;
  position: relative;
  display: inline-flex;
  .text-field {
    min-width: 255px;
  }
  &:not(.selected) {
    .text-field::placeholder {
      color: $text-disabled !important;
    }
    .mat-icon {
      color: $text-disabled;
    }
  }
  &.selected {
    .text-field {
      max-width: 255px;
      box-shadow: 0 0 0 2px $secondary inset;
      color: $secondary;
      font-weight: bold !important;
      padding-left: 40px;
      padding-right: 40px;
    }
    .mat-icon {
      color: $secondary;
    }
  }
  > .mat-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 36px 0 -36px;
  }
}

@mixin table-filter-panel() {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .search {
    @include search-wrapper();

    .reset {
      @include search-reset-button();
    }
    .text-field {
      @include text-field();
    }
  }
}

@mixin search-reset-button() {
  left: 10px;
  top: 0;
  position: absolute;
  cursor: pointer;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    color: $primary;
  }

  .mat-icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin avatar-background() {
  background-color: $background-grey;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin table-loading-panel() {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 25px;
}

.table-title-active {
  font-weight: bold !important;
  font-size: 12px !important;
  color: $input-text !important;
}

@mixin page-actions() {
  display: inline-flex;
}

@mixin card-placeholder() {
  display: flex;
  justify-content: space-around;
  mat-spinner {
    margin: auto;
  }
}

@mixin asset-tabs-wrapper {
  min-height: 250px;
  .actions {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    color: $text-dark;
  }
}

@mixin tab-label-wrapper {
  display: flex;
  align-items: center;
  &.with-badge {
    margin-left: 10px;
  }
}

@mixin modal-body {
  width: 70vw;
  height: 100%;
  margin: 0 auto;
}

@mixin edit-button-margin-auto {
  margin-left: auto;
}

@mixin regular-text {
  font-size: 12px;
  color: $input-text;
}

@mixin reset {
  left: 10px;
  top: 0;
  position: absolute;
  cursor: pointer;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    color: $secondary-light !important;
  }

  .mat-icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin chart-container {
  height: 30vh;
  .chart {
    margin: auto;
  }
}
