@import '~@angular/material/theming';

$sidebar-width: 60px;

$primary: #00be82;
$primary-light: #5bf2b2;
$primary-dark: #008d55;
$footer-height: 24px;
$footer-y-padding: 4px;

$secondary: #28313e;
$secondary-light: #515a69;
$secondary-dark: #000818;

$danger: #fa3250;
$pending: #007eff;

$text-dark: #4e5560;
$text-light: #c4c4c4;
$text-disabled: #abaeb3;
$modal-background: #ffffff;
$loading-color: #e8e8e8;

$qr-background: #fafafa;

$machine-button-background: rgba(255, 255, 255, 0.8);

$background: #f6f6f6;
$background-grey: #e3e4e6;
$background-dark: #eaeaea;
$background-danger: #ffdadf;
$background-primary: #ddf1eb;
$background-weak: #e1e1e1;

$bottom-line: #d3d3d3;

$date-input-background: #e0e0e0;

$input-text: #28323c;
$input-background: #ededed;
$input-background-disabled: #ededed;

$placeholder-background: #989da2;

$pane-background: #f1f1f2;
$selected-background: rgba(0, 0, 0, 0.04);

$skeleton-bg: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);

// Angular material styling:

$syn-primary-palette: (
  50: #e0f7f0,
  100: #b3ecda,
  200: #80dfc1,
  300: #4dd2a8,
  400: #26c895,
  500: #00be82,
  600: #00b87a,
  700: #00af6f,
  800: #00a765,
  900: #009952,
  A100: #c4ffe0,
  A200: #91ffc5,
  A400: #5effaa,
  A700: #45ff9c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$syn-secondary-palette: (
  50: #e5e6e8,
  100: #bfc1c5,
  200: #94989f,
  300: #696f78,
  400: #48505b,
  500: #28313e,
  600: #242c38,
  700: #1e2530,
  800: #181f28,
  900: #0f131b,
  A100: #5e94ff,
  A200: #2b72ff,
  A400: #0052f7,
  A700: #004ade,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$syn-danger-palette: (
  50: #ffe6ea,
  100: #ffbfcb,
  200: #ff95a9,
  300: #ff6b86,
  400: #ff4b6c,
  500: #ff2b52,
  600: #ff264b,
  700: #ff2041,
  800: #ff1a38,
  900: #ff1028,
  A100: #ffffff,
  A200: #fff8f9,
  A400: #ffc5ca,
  A700: #ffacb2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-typography: mat-typography-config(
  $font-family: 'Syntegon, Roboto, Helvetica Neue, sans-serif',
  $subheading-2: mat-typography-level(12px, 24px, 400),
);

@include mat-core($custom-typography);

$syn-primary: mat-palette($syn-primary-palette);
$syn-accent: mat-palette($syn-secondary-palette);

$syn-warn: mat-palette($syn-danger-palette);

$app-theme: mat-light-theme($syn-primary, $syn-accent, $syn-warn);

@include angular-material-theme($app-theme);
